@import url('menu-dropdown.css');@import url("front.css");html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;outline:0}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse}html{overflow-x:hidden}body{background:url(bodybg.png) repeat-y scroll center top #878787;color:#323232;font-family:Arial,Helvetica,sans-serif;font-size:12px}.floatleft{float:left;display:inline}.floatright{float:right;display:inline}.clear{clear:both}#bigcontainer{width:1000px;margin:0
auto;padding:0;min-height:600px}.wrapheader{padding:5px
20px 0;font-size:11px}.wrapheader
a{color:#323232;text-decoration:none}.wrapheader a:hover{color:#000;border-bottom:1px dotted #000}div.rssfeed{background:url(icon_rssfeed.png) no-repeat;background-position:0 0;padding:0px
0 4px 20px;color:#ff9400;margin-left:8px}div.rssfeed
a{color:#ff9400;border:none}div.rssfeed a:hover{color:#ff9400;border:none}.headerkiri{}.headerkiri
div{display:inline}.midheader{padding:10px
20px 0}.midheaderkiri{padding-top:30px}.logotsel{}.headerkanan{display:table-cell;text-align:center;vertical-align:middle}.headerkanan
*{vertical-align:middle}.floatright a:hover{text-decoration:none}.footerleft{float:left}.footerleft
p{margin:3px
0}.footerleft
a{color:#323232;text-decoration:none}.footerleft a:hover{color:#000;text-decoration:none}.footerright{float:right}.searchbox{background:url(search_input.gif) no-repeat;padding:0;margin:0}input.inputsearch{border:none;margin:0;padding:2px
0 10px 5px;background:none;vertical-align:top;width:150px}.topmenu{padding-top:12px}ul#navigation{list-type:none;margin:0
auto;padding-right:10px;padding-left:20px}ul#navigation
li{display:inline;float:left;padding:5px
10px;font-size:13px;text-transform:uppercase;font-weight:bold}ul#navigation li
a{text-decoration:none}ul#navigation li a:hover, ul#navigation li
a.selected{text-decoration:none}.bannersliderwrap{/*background:url(border_slider.gif) no-repeat;*/width:710px;height:253px;margin:0px
auto;position:relative;}.bannersliderwrap img
span{z-index:1000}.bannersliderwrap
.buttonslider{position:absolute;right:9px;bottom:15px;z-index:0;background-color:#FFF;width:72px;height:17px;text-align:right;padding:5px
5px 0 0}.contentpage_menunew{background:#ccc url(menutabbg.gif);width:710px;height:39px;margin-top:5px}.contentpage_menunew
ul{list-style:none;margin:0
auto;padding-top:3px;overflow:hidden}.contentpage_menunew ul.idTabs li div p
a{text-decoration:none}.contentpage_menunew ul
li{width:130px;background:url(batas.gif) no-repeat;background-position:center right;float:left;display:inline;font-size:11px;text-shadow:0 1px 2px #fff;text-align:center;vertical-align:middle;font-weight:700;height:34px;padding-left:5px;padding-right:5px;}.contentpage_menunew ul
li.last{background:none}.contentpage_menunew ul li
div{width:130px;height:34px;display:table}.contentpage_menunew ul li div
p{display:table-cell;vertical-align:middle;text-align:center}.contentpage_menunew ul li div p
a{color:#323232;text-decoration:none}.contentpage_menunew ul li div p a:hover,.contentpage_menu ul li
a.selected{color:#e5333e;text-decoration:none}.minibannerwrap{width:950px;margin:0
auto 10px}.minivideo{float:left;background:url(border_video.gif) no-repeat;width:225px;height:120px;display:inline;margin-right:11px}.videopreview{width:190px;height:90px;margin:0
auto;padding:6px;margin-left:13px}.videotitle{float:left;color:#000;display:inline;padding-left:5px;font-size:12px;margin-left:11px}.videotitle
a{color:#000;text-decoration:none}.videotitle a:hover{color:#000;text-decoration:underline}.videomore{float:right;display:inline;color:#dc1923;padding-right:5px;font-size:12px;margin-right:14px}.videomore
a{color:#dc1923;text-decoration:none}.videomore a:hover{color:#dc1923;text-decoration:underline}.minibanners{background:url(border_smallbanner.gif) no-repeat;width:714px;height:120px;float:left;display:inline}.indexcomponent{width:955px;margin:0
auto 10px}.boxcomponentnews{background:url(bg_componentnews.png) no-repeat;width:350px;height:167px;float:left;display:inline;margin-right:10px;position:relative}.boxcomponentevent{background:url(bg_componentevent.gif) no-repeat;width:330px;height:167px;float:left;display:inline;margin-right:11px;position:relative}.boxcomponentnews h3, .boxcomponentevent
h3{display:block;font-size:18px;font-family:Arial,Helvetica,sans-serif;background:url(bg_componenttitle.gif) repeat-x;height:25px;margin:8px
1px 0;padding:3px
0 0 10px}.boxcomponentnews ul, .boxcomponentevent
ul{list-style:none;margin:0
10px 3px;padding:0;height:105px}.boxcomponentnews ul li, .boxcomponentevent ul
li{background:url(bullet_red-1.gif) no-repeat;background-position:0 7px;padding:5px
0 5px 15px;font-size:11px}.boxcomponentnews ul li a, .boxcomponentevent ul li
a{color:#4d4d4d;text-decoration:none;font-size:12px}.boxcomponentnews ul li a:hover, .boxcomponentevent ul li a:hover{color:#000}.componentmore{font-size:11px;border-top:1px dashed #4d4d4d;padding:0
5px 0 5px;text-align:right;margin:0
5px 0 5px}.componentmore
a{color:#e82c36;text-decoration:none}.componentmore a:hover{color:#e82c36;text-decoration:underline}.componentads{background:url(border_componentads.gif) no-repeat;width:246px;height:162px;float:left;display:inline;padding:3px
2px 2px 3px}.componentads
img{text-align:center}ul#crumbs{list-style:none;margin:0;padding:10px;padding-bottom:0;height:16px}ul#crumbs
li{float:left;display:inline;font-size:11px;color:#fff}ul#crumbs li
a{color:#FFF;text-decoration:none;padding:0
15px 0 5px;height:16px;text-transform:capitalize;font-size:11px}ul#crumbs li
a.abuabu{background:url(bc_abuabu.gif) no-repeat right center;background-color:#7b7b7b}ul#crumbs li
a.abured{background:url(bc_abured.gif) no-repeat right center;background-color:#7b7b7b}ul#crumbs li
a.redempty{background:url(bc_redempty.gif) no-repeat right center;background-color:#fa1926}ul#crumbs li a:hover{color:#e8e8e8}#bodycontent{width:950px;margin:10px
auto}.contentkiri{float:left;display:inline;margin-right:10px;width:190px;padding-left:5px;font-size:14px}.contentkanan{float:left;display:inline;width:750px}h4.sidebartitle{background:url(sidebar_titlebg.gif) no-repeat;width:182px;height:23px;font-size:16px;color:#FFF;text-transform:uppercase;padding:7px
0 0 8px}.qrcode{width:130px;margin:20px
auto 10px;text-align:center}.qrcode
p{color:#e32c36;font-weight:bold;margin-bottom:5px}.qrcode
img{border:1px
solid #c6c6c6;padding:2px}.contentbg{background:url(content_bg2.gif) repeat-y;width:710px;padding:10px
20px}.content_img{margin:10px
auto}.content_cat{border:1px
solid #d3d3d3;padding:15px
15px;margin:10px
0 0;overflow:hidden}.content_cat
h4{color:#e32c36;font-size:24px;font-family:Arial,Helvetica,sans-serif;margin:0
0 10px}.content_cat
img{float:left;margin:0
8px 8px 0}.content_cat
p{line-height:16px;margin-bottom:5px}.content_cat
p.moreinfo{text-align:right}.content_cat p.moreinfo
a{color:#e32c36;text-decoration:none}.content_cat p.moreinfo a:hover{color:#e32c36;text-decoration:underline}ul.treeview{margin:0;padding:0;list-style:none}ul.treeview
li{padding:8px
8px 0 13px;color:#2d2d2d;background:#fff url(arrow_red.gif) no-repeat;background-position:0 12px}ul.treeview li
a{color:#2d2d2d;text-decoration:none}ul.treeview li a:hover, ul.treeview li
a.selected{color:#e32c36;font-weight:bold;text-decoration:none}.treeview
ul{margin:0;padding:0}.treeview li ul
li{background:#fff url(arrow_red.gif) no-repeat;background-position:0 10px;list-style-type:none;padding-left:10px;padding-top:8px}.treeview
li.submenu{background:#fff url(arrow_red.gif) no-repeat;background-position:0 12px;cursor:hand !important;cursor:pointer !important}.treeview li.submenu
ul{display:none}.treeview .submenu ul
li{cursor:default}.searchproductbox{margin:10px
0}.searchprodbg{width:710px;background:url(bgrounded710_mid.gif) repeat-y}.searchprodbg
form{padding:0
10px}.caridevice{overflow:hidden}form
label.namasearch{font-size:18px;float:left;display:inline;padding:2px
5px 0 0}input.searchdevice{width:300px;background-color:#f8f8f8;border:1px
solid #a5a5a5;padding:3px
5px;vertical-align:top}input.searchdevicebutton{vertical-align:top}.caridevice
.advancesearchlink{vertical-align:middle}.caridevice .advancesearchlink
a{padding-top:3px;display:inline-block;color:#4d4d4d;text-decoration:none}.caridevice .advancesearchlink a:hover{color:#000;text-decoration:underline}.toggle_container{margin:10px
0 0 5px;padding:5px
0 0;border-top:1px dotted #565555;overflow:hidden;font-size:1.2em;width:680px;clear:both}.toggle_container
.block{padding:5px}.advancecols{float:left;display:inline;width:200px;margin-left:10px}.selectdevice{width:150px;margin:5px
0}.deviceresult
h4{font-size:18px;margin:25px
0 10px;padding:0
0 5px;display:block;border-bottom:1px dotted #8f8f8f}.devicewrap{width:230px;height:150px;float:left;display:inline;margin:0
5px 10px 0}.deviceimg{width:70px;text-align:left}.deviceshortdesc
strong{color:#f82c37;font-size:14px}.deviceshortdesc
span{color:#f32c37}.deviceshortdesc{float:left;display:inline;width:160px}.deviceshortdesc
ul{list-style:none;margin:0
0 5px;padding:0}.deviceshortdesc ul
li{background:url(bullet_red-2.gif) no-repeat;background-position:0 7px;padding:5px
0 3px 10px;font-size:12px}.deviceshortdesc ul li
a{color:#4d4d4d;text-decoration:none}.deviceshortdesc ul li a:hover{color:#000}.comparedevice{width:710px;margin:10px
auto}.comparedevice
h3{font-size:18px;color:#262626;display:block;border-bottom:1px dotted #565555;padding-bottom:5px}.productcompare{width:180px;text-align:center;padding-bottom:5px}.colpromo{background-color:#c8c8c8;padding:7px
5px;vertical-align:top}.colodd{background-color:#f1f1f1;padding:7px
5px;vertical-align:top}.coleven{background-color:#fff;padding:7px
5px}.colmore{padding:5px}.colmore
a{color:#e32c36;text-decoration:none}.colmore a:hover{color:#e32c36;text-decoration:underline}.devicedetail{width:710px;margin:10px
auto}.devicedetail
h3{font-size:18px;color:#262626;display:block;border-bottom:1px dotted #565555;padding-bottom:5px}.deviceimgpreview{width:200px;margin:10px
0;margin-right:10px}.deviceimgpreview
ul{list-style:none;margin:10px
0;padding:0}.deviceimgpreview ul
li{display:inline}.devicedetailtxt{width:500px;margin:10px
0}.device_submenu{background:url(devicedetail_submenubg.jpg) no-repeat;width:480px;height:40px}.device_submenu
ul{list-style:none;margin:0;padding:14px
0 0 2px}.device_submenu ul
li{display:inline;float:left;font-size:12px;font-weight:bold;color:#262626;padding:0
8px}.device_submenu ul li
a{color:#262626;text-decoration:none}.device_submenu ul li a:hover, .device_submenu ul li
a.selected{color:#e32c36;text-decoration:none}#pagination{margin-bottom:10px;text-align:center;padding:10px
0}#pagination
a{border:1px
solid #ddd;padding:2px
3px;color:#bbb;text-decoration:none;margin:0
1px}#pagination
a.active{border:1px
solid #b6b6b6;color:#b6b6b6;text-decoration:none;font-weight:bold}#pagination a:hover{border:1px
solid #bbb;color:#fff;text-decoration:none;background-color:#bbb}.comparedevicebtn{margin:10px
0 0;background-color:#eaeaea;width:100%;padding:5px
0;text-align:center}.preorder_previewimg{width:90px;text-align:left;margin-right:10px}.preorder_text{width:610px}.preorder_text
p{margin:10px
0;line-height:16px}.preorder_text p
a{color:#e32c36;text-decoration:none}.preorder_text p a:hover{color:#e32c36;text-decoration:underline}.tablepreorder{width:550px}.tablepreorder
td{padding:5px}.tablepreorder
input{width:250px;padding:3px}input.mine{width:auto}.tablepreorder
textarea{width:250px;padding:3px}.tagging,.tag_link{font-size:11px}.contentpage_menu{width:710px}.contentpage_menu
ul{list-style:none;margin:0
auto;padding:0;overflow:hidden}.contentpage_menu ul
li{background:url(contentmenu_bg.png) repeat-x;padding:10px
10px 0;float:left;display:inline;font-size:13px;text-shadow:0 1px 2px #fff;font-weight:600;max-width:150px;height:30px;margin:5px
0 0;text-align:center}.contentpage_menu ul
li.last{background:#ccc url(contentmenu_line.png) no-repeat;background-position:top right;width:4px;height:50px;padding:0px;margin:0px}.contentpage_menu ul li
a{color:#323232;text-decoration:none;cursor:pointer}.contentpage_menu ul li a:hover,.contentpage_menu ul li
a.selected{color:#e5333e;text-decoration:none}.contentpage_tab{padding:0;margin:10px
0 0;overflow:hidden;display:none}.contentpage_tab
h4{color:#323232;font-size:24px;font-family:Arial,Helvetica,sans-serif;margin:0
0 10px}.contentpage_tab
p{line-height:16px;margin-bottom:10px}.contentpage_tab
a{color:#323232;text-decoration:none}.contentpage_tab a:hover{color:#e5333e;text-decoration:none;border-bottom:none}.contentpage_tab ul, .contentpage_tab
ol{}.contentpage_tab ul
li{padding-bottom:5px}.textWhite{color:#FFF}
@import url("http://www.telkomsel.com/media/style/reset.css");@import url("front.css");@import url("http://www.telkomsel.com/media/style/tipsy.css");@import url('menu-dropdown.css');.slideLuar{width:950px;height:245px;margin:0
auto;background-color:#e2e2e2;padding:1px}.slideDalam{background-color:white;width:930px;height:225px;margin:0
auto;padding:10px}.contentSlide{width:930px;height:225px;margin:0
auto;position:relative;overflow:hidden}.contentCrousel{width:928px;height:223px;float:left;overflow:hidden;left:0px;border:solid 1px}.error{color:red}.slideBannerLuar{width:950;height:140px;background-color:#e2e2e2;margin-top:10px;padding:1px}.slideBannerDalam{width:950;height:140px;background-color:white}.contentSlideBanner{width:892px;height:140px;float:left;overflow:hidden}.navSlideBanner{width:18px;margin:0
auto;float:left;padding:50px
5px 0 5px}.bottomFeature{width:339px;border:solid 1px #CCC;height:150px;background:white;margin-top:10px;float:left;margin-right:10px;overflow:hidden}.headerBottomBanner{width:330px;height:25px;background-image:url(bawah_1.jpg);padding-left:10px;font-weight:bold;padding-top:10px}.contentBottomBanner{font-size:12px;padding-left:10px;height:18px;line-height:18px}.moreBoottomBanner{border-top:dashed 1px #999;color:red;font-size:11px;text-align:right;padding-right:5px;margin-top:3px}.contentBundling{margin-top:10px;width:220px;float:left;margin-right:10px}.containerBundling{margin-left:10px}.spekBandling{font-size:12px}.nameSpek{font-size:12px;color:red;font-weight:bold;padding-left:10px;margin-top:10px}.nameSpekCompare{font-size:12px;color:red;font-weight:bold;margin-top:10px;font-weight:normal;float:left}.spekBandling
ul{list-style-image:url(bunder-merah.jpg);margin-top:5px;padding-left:25px}.spekBandling ul
li{color:black;font-weight:normal}#pagingBundling{margin-bottom:10px;text-align:center;padding:10px
0}#pagingBundling
a{border:1px
solid #ddd;padding:2px
3px;color:#bbb;text-decoration:none;margin:0
1px}#pagingBundling
a.active{border:1px
solid #b6b6b6;color:#b6b6b6;text-decoration:none;font-weight:bold}#pagingBundling a:hover{border:1px
solid #bbb;color:#fff;text-decoration:none;background-color:#bbb}.productcompare{width:180px;text-align:center;padding-bottom:5px}.colpromo{background-color:#c8c8c8;padding:7px
5px;vertical-align:top}.deviceshortdesc
strong{color:#f82c37;font-size:14px}.deviceshortdesc
span{color:#f32c37}.deviceshortdesc{float:left;display:inline;width:160px}.deviceshortdesc
ul{list-style:none;margin:0
0 5px;padding:0}.deviceshortdesc ul
li{background:url(bullet_red.gif) no-repeat;background-position:0 7px;padding:5px
0 3px 10px;font-size:12px}.deviceshortdesc ul li
a{color:#4d4d4d;text-decoration:none}.deviceshortdesc ul li a:hover{color:#000}.detailGadgetImage{width:300px;height:300px;float:left}.detailGadget{background-image:url(back.jpg);width:192px;height:28px;font-weight:bold;padding:12px
0 0 20px;font-size:12px}.detailGadget
a{color:black;text-decoration:none}.detailGadget a:hover{color:red}.gadgetSpek{background-color:#C3C3C3;padding:5px;font-weight:bold;width:100px;border-bottom:dotted  1px}.gadgetSpekDetail{background-color:#DFE0DE;padding:5px;font-weight:none;border-bottom:dotted 1px}#construc{width:1000px;margin:0
auto 0}.left{float:left}.right{float:right}.clear{clear:both}.clear-l{clear:left}.clear-r{clear:right}#header{width:950px;margin:0
auto 0;margin-bottom:10px;height:130px}#header
.img_header{float:left;position:absolute}#header .nav-up{font-size:12px;position:absolute;z-index:100;overflow:hidden;line-height:25px;padding-left:10px;height:25px;width:910px;margin:0
auto;margin-left:10px}#header .nav-bottom{position:absolute;z-index:100;overflow:hidden;font-size:14px;font-weight:bold;line-height:45px;text-align:center;height:40px;width:950px;margin-top:100px;text-transform:uppercase}#header span , #footer
span{padding-left:3px;padding-right:3px}#header .box-tbl{margin-left:5px;height:25px;line-height:25px}#header .tbl-img{cursor:pointer;margin-top:-1px}#header
.search{background:transparent url(bg-search.gif) no-repeat center;padding-top:1px;border:0;width:185px;height:23px;line-height:23px;position:absolute;z-index:999;overflow:hidden;margin-top:70px;margin-left:20px}#fr-search{border:0;width:150px;margin-left:5px;*margin-left:-15px;*padding-left:0px;*margin-top:1px}#btn-src{background:transparent;border:0;height:20px;width:25px;cursor:pointer}#header .from-login{display:none;font-size:12px;position:absolute;z-index:100;overflow:hidden;height:250px;margin:-3px auto;width:950px;top:30px}#signin_menu
.tinput{display:block;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px
solid #ACE;font-size:13px;margin:0
0 5px;padding:5px;width:160px;z-index:100;overflow:hidden}#footer{background:url(bg_footer.gif) repeat-x scroll 0 0 transparent;color:#323232;font-size:11px;height:30px;margin:0px
auto;padding:10px
25px;width:960px}#footer .f-nav-bottom{margin-top:10px;font-size:11px;text-transform:capitalize}.text-footer{width:950px;margin:0
auto}.logo{margin-top:6px}#content{width:950px;margin:0
auto 0}#sidebar{width:190px}#sidebar
.title{text-transform:uppercase;width:180px;height:30px;line-height:30px;color:#FFF;font-weight:bold;background:#E42C36;text-align:center}#menu{margin-top:4px}#menu
.li{cursor:pointer;font-size:12px;background:url(menu-arrow.gif) no-repeat 0 7px;border-bottom:dotted 1px #E42C36;padding:5px;padding-left:10px;width:175px}#menu
.active{cursor:pointer;font-size:12px;background:url(arrowbawah_red.gif) no-repeat 0 7px;border-bottom:dotted 1px #E42C36;padding:5px;padding-left:10px;width:175px}#menu .li:hover{color:#E42C36;font-weight:bold}#menu
.child{padding-left:25px;width:160px;background:url(menu-arrow.gif) no-repeat 15px}.hover{background-color:#ebebeb}.value{background:#FFF;width:750px;float:right}.value
.desc{padding:10px}.desc
.title{font-weight:bold}.desc{border-top:dashed 1px;font-size:12px;padding-top:3px}.content{font-size:12px;padding:2px;width:710px}.content
p{margin-bottom:5px;margin-top:5px;text-align:justify}.text13{color:#666;font:11px Tahoma,Arial,Helvetica,sans-serif;text-decoration:none;line-height:14px}.box_download .text13
ul{padding-left:25px}#position{width:auto;font-size:10px;color:#FFF;height:auto;margin:10px;margin-bottom:0px}#position .arrow-abu{padding:3px;height:10px;line-height:8px;padding-right:15px;background:#7E7E7E url(arrow-abu.jpg) no-repeat right;float:left;text-transform:capitalize}#position .arrow-merah{padding:3px;height:10px;line-height:8px;padding-right:15px;background:#ED1721 url(arrow-akhir.jpg) no-repeat right;float:left;text-transform:capitalize}#position .arrow-double{padding:3px;height:10px;line-height:8px;padding-right:15px;background:#7E7E7E url(arrow-double.jpg) no-repeat right;float:left;text-transform:capitalize}#box-image{margin:10px}#box-image .box-tbl{padding-left:10px;background:url(bg-button-img.jpg) repeat-x;height:53px;font-size:14px}#box-image
.tbl{line-height:53px;padding-right:10px;width:165px;height:53px;text-align:center;font-weight:bold;text-shadow:#FFF 1px 1px 1px;float:left}#box-image .no-limiter{background:none;padding-right:0px}#box-image
.active{color:#ED1721}#box-image
.text{line-height:normal;padding-top:10px}.nav-bottom
ul{padding:0;margin:0
auto 0;padding-left:20px}.nav-bottom
li{float:left;padding-right:10px;list-style:none;padding-left:5px;font-size:14px}.limiter{}.box_download{width:710px;height:auto;margin-bottom:10px;padding:10px;padding-bottom:0;padding-top:5px;font-family:Arial,Tahoma,Helvetica,sans-serif;font-size:12px;line-height:14px}.box_download
.title{font-size:15px;color:#000;margin-bottom:5px;line-height:1.2;font-weight:bold;font-style:verdana}.box_download
.desc{float:left;width:530px;font-size:12px;padding-top:0px}.box_download
.imagethumbnail{float:left;width:120px;margin-right:10px}.box_download
ul{padding-left:5px}.box_download .title
a{color:#000;font-weight:bold;text-decoration:none;font-size:20px;margin:0
0 10px}.box_download .title a:hover{color:#E32C36}.box_download
.content{color:#323232}.box_download .content
ul{padding-left:30px}.box_download .content
li{color:#323232;list-style-position:outside}.box_download .content
.tag_link{color:#4D4D4D;text-decoration:none;border:none}.box_download .content .tag_link:hover{color:#000;text-decoration:underline;border:none}.box_download .content
a{text-decoration:none;color:#000;border-bottom:0px}.box_download .content a:hover{text-decoration:none;color:#E32C36;border-bottom:0px}.box_download .content span
a{text-decoration:none;border:0}.box_download .content p
a{color:#323232;text-decoration:none}.box_download .content .li
a{text-decoration:none;border:0}.box_download
h4{color:#323232;font-size:30px;font-family:Arial,Tahoma,Helvetica,sans-serif;padding-bottom:4px;line-height:1.2}.box_download
h3{color:#323232;font-size:18px;font-family:Arial,Tahoma,Helvetica,sans-serif;padding-bottom:4px;line-height:1.2}.tag_border{border-bottom:1px dashed #000;margin-bottom:5px}.tag_bg{background:#E3E3E3;padding:2px;color:#000}.cellTabTitle{background-color:#A20C10;vertical-align:middle;border:1px
solid #CCC;padding:5px}#textTabTitle{font-family:Tahoma,Arial,Helvetica,sans-serif;font-weight:bold;color:#FFF;vertical-align:middle}.cellTabContent1{background-color:#EEE;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px;color:#666;border:1px
solid #CCC;padding:5px}.cellTabContent3{background-color:#FFF;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px;color:#666;border:1px
solid #CCC;padding:5px}.cellTabContent2{font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:11px;color:#666;border:1px
solid #CCC;padding:5px}.gedeputih{font-size:16px;color:#FFF;font-weight:bold}.judul{color:#FFF;font-weight:bold}
.tipsy{font-size:10px;opacity:0.8;filter:alpha(opacity=80);background-repeat:no-repeat}.tipsy-inner{padding:4px
5px;background-color:black;color:white;max-width:200px;text-align:center}.tipsy-north{background-image:url(tipsy-north.gif);background-position:top center}.tipsy-south{background-image:url(tipsy-south.gif);background-position:bottom center}.tipsy-east{background-image:url(tipsy-east.gif);background-position:right center}.tipsy-west{background-image:url(tipsy-west.gif);background-position:left center}
.ddsmoothmenu{font:bold 12px;width:100%}.ddsmoothmenu
ul{z-index:100;margin:0;padding:0;list-style-type:none}.ddsmoothmenu ul
li{position:relative;display:inline;float:left;font-size:12px;font-weight:bold;text-transform:uppercase}.limiter{}.ddsmoothmenu ul li
a{display:block;color:white;padding:6px
8px;color:#e42c36;text-decoration:none}* html .ddsmoothmenu ul li
a{display:inline-block}.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{color:#000}.ddsmoothmenu ul li a:hover{background:#e42c36;color:white}.ddsmoothmenu ul li a:active{background:#e42c36;color:white}.ddsmoothmenu ul li
a.selected{background:#e42c36;color:white}.ddsmoothmenu ul li
ul{position:absolute;left:0;display:none;visibility:hidden}.ddsmoothmenu ul li ul li
ul{top:0}.ddsmoothmenu ul li ul li
a{min-width:200px;padding:3px;margin:0;border-top-width:0;border-bottom:1px solid #FFF;font-size:10px !important}/*\*/* html
.ddsmoothmenu{height:1%}/**/.downarrowclass{position:absolute;top:12px;right:7px}.rightarrowclass{position:absolute;top:6px;right:5px}.ddshadow{position:absolute;left:0;top:0;width:0;height:0}.toplevelshadow{opacity:0}.panah{padding:3px;list-style-type:none;float:left}.downarrowclass{position:absolute;top:8px;right:7px}
#signin_menu{-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;display:none;background-color:#D21921;position:absolute;width:170px;z-index:100;border:1px
transparent;text-align:left;padding:12px;*padding-bottom:10;right:0px;margin-right:10px;color:#FFF;font-size:11px;overflow:hidden}#signin_menu input[type=text], #signin_menu input[type=password]{display:block;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px
solid #ACE;margin:0
0 5px;padding:5px;width:160px;z-index:100;overflow:hidden}#signin_menu
p{margin:0}#signin_menu
a{color:#FFF}#signin_menu
label{font-weight:normal}#signin_menu
p.remember{padding:10px
0}#signin_menu p.forgot, #signin_menu
p.complete{clear:both;margin:5px
0}#signin_menu p
a{color:#FFF!important;font-size:8px}#signin_menu
.text{font-size:10px}#signin_submit{background:url('tbl-login2.jpg');margin:0
5px 0 0;border:none;width:45px;height:25px}
ul.topnav{list-style:none;color:#000}ul.topnav
li{float:left;color:#000;position:relative}ul.topnav li
a{display:block;text-decoration:none;float:left;color:#000}ul.topnav li
ul.subnav{list-style:none;position:absolute;background:#f0f0f0;display:none;float:left;margin:0px;width:200px;color:#000;left:-5px;border-top:0;border-right:0;z-index:9999;padding:0;padding-bottom:4px}ul.topnav li ul.subnav
li{clear:both;color:#000;z-index:9999;padding:0}html ul.topnav li ul.subnav li
a{color:#000;background:#f0f0f0;padding:6px;padding-right:0;padding-left:10px;font-size:12px;min-width:190px;text-align:left;z-index:9999}html ul.topnav li ul.subnav li a:hover{background:#e42c36;color:#FFF}html ul.topnav li ul.subnav li a:active{background:#e42c36;color:#FFF}html ul.topnav li ul.subnav li
a.selected{background:#e42c36;color:#FFF}
#facebox
.b{background:url(b.png)}#facebox
.tl{background:url(tl.png)}#facebox
.tr{background:url(tr.png)}#facebox
.bl{background:url(bl.png)}#facebox
.br{background:url(br.png)}#facebox{position:absolute;width:100%;top:0;left:0;z-index:100;text-align:left}#facebox
.popup{position:relative}#facebox
table{margin:auto;border-collapse:collapse}#facebox
.body{padding:10px;background:#fff;width:370px}#facebox
.loading{text-align:center}#facebox
.image{text-align:center}#facebox
img{border:0}#facebox
.footer{border-top:1px solid #DDD;padding-top:5px;margin-top:10px;text-align:right}#facebox .tl, #facebox .tr, #facebox .bl, #facebox
.br{height:10px;width:10px;overflow:hidden;padding:0}
#lbOverlay{position:fixed;top:0;left:0;z-index:99998;width:100%;height:500px}#lbOverlay.grey{background-color:#000}#lbOverlay.red{background-color:#300}#lbOverlay.green{background-color:#030}#lbOverlay.blue{background-color:#011D50}#lbOverlay.gold{background-color:#660}#lbMain{position:absolute;left:0;width:100%;z-index:99999;text-align:center;line-height:0}#lbMain a
img{border:none}#lbOuterContainer{position:relative;background-color:#d4d4d4;width:200px;height:200px;margin:0
auto;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border:solid 10px #d4d4d4}#lbOuterContainer.grey{}#lbOuterContainer.red{border:3px
solid #D00}#lbOuterContainer.green{border:3px
solid #00B000}#lbOuterContainer.blue{border:3px
solid #5F89D8}#lbOuterContainer.gold{border:3px
solid #B0B000}#lbDetailsContainer{font:10px Verdana, Helvetica, sans-serif;background-color:#d4d4d4;width:100%;line-height:1.4em;overflow:auto;margin:0
auto;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;border:solid 10px #d4d4d4}#lbDetailsContainer.grey{}#lbDetailsContainer.red{border:3px
solid #D00;border-top:none}#lbDetailsContainer.green{border:3px
solid #00B000;border-top:none}#lbDetailsContainer.blue{border:3px
solid #5F89D8;border-top:none}#lbDetailsContainer.gold{border:3px
solid #B0B000;border-top:none}#lbImageContainer,#lbIframeContainer{padding:10px;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;background-color:#FFF}#lbLoading{position:absolute;top:45%;left:0%;height:32px;width:100%;text-align:center;line-height:0;background:url(loading.gif) center no-repeat}#lbHoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}#lbImageContainer>#lbHoverNav{left:0}#lbHoverNav
a{outline:none}#lbPrev{width:49%;height:100%;background:transparent url(blank.gif) no-repeat;display:block;left:0;float:left}#lbPrev.grey:hover,#lbPrev.grey:visited:hover{background:url(prev_grey.gif) left 15% no-repeat}#lbPrev.red:hover,#lbPrev.red:visited:hover{background:url(prev_red.gif) left 15% no-repeat}#lbPrev.green:hover,#lbPrev.green:visited:hover{background:url(prev_green.gif) left 15% no-repeat}#lbPrev.blue:hover,#lbPrev.blue:visited:hover{background:url(prev_blue.gif) left 15% no-repeat}#lbPrev.gold:hover,#lbPrev.gold:visited:hover{background:url(prev_gold.gif) left 15% no-repeat}#lbNext{width:49%;height:100%;background:transparent url(blank.gif) no-repeat;display:block;right:0;float:right}#lbNext.grey:hover,#lbNext.grey:visited:hover{background:url(next_grey.gif) right 15% no-repeat}#lbNext.red:hover,#lbNext.red:visited:hover{background:url(next_red.gif) right 15% no-repeat}#lbNext.green:hover,#lbNext.green:visited:hover{background:url(next_green.gif) right 15% no-repeat}#lbNext.blue:hover,#lbNext.blue:visited:hover{background:url(next_blue.gif) right 15% no-repeat}#lbNext.gold:hover,#lbNext.gold:visited:hover{background:url(next_gold.gif) right 15% no-repeat}#lbPrev2,#lbNext2{text-decoration:none;font-weight:bold}#lbPrev2.grey,#lbNext2.grey,#lbSpacer.grey{color:#333}#lbPrev2.red,#lbNext2.red,#lbSpacer.red{color:#620000}#lbPrev2.green,#lbNext2.green,#lbSpacer.green{color:#030}#lbPrev2.blue,#lbNext2.blue,#lbSpacer.blue{color:#01379E}#lbPrev2.gold,#lbNext2.gold,#lbSpacer.gold{color:#660}#lbPrev2_Off,#lbNext2_Off{font-weight:bold}#lbPrev2_Off.grey,#lbNext2_Off.grey{color:#CCC}#lbPrev2_Off.red,#lbNext2_Off.red{color:#FCC}#lbPrev2_Off.green,#lbNext2_Off.green{color:#82FF82}#lbPrev2_Off.blue,#lbNext2_Off.blue{color:#B7CAEE}#lbPrev2_Off.gold,#lbNext2_Off.gold{color:#E1E100}#lbDetailsData{padding:0
10px;background:#FFF}#lbDetailsData.grey{color:#333;display:none}#lbDetailsData.red{color:#620000}#lbDetailsData.green{color:#030}#lbDetailsData.blue{color:#01379E}#lbDetailsData.gold{color:#660}#lbDetails{width:60%;float:left;text-align:left}#lbCaption{display:block;font-weight:bold}#lbNumberDisplay{float:left;display:block;padding-bottom:1.0em}#lbNavDisplay{float:left;display:block;padding-bottom:1.0em}#lbClose{width:64px;float:left;height:40px;margin-bottom:1px}#lbClose.grey{background:url(closevideo.png) no-repeat;left:-22px;position:absolute;top:-22px}#lbClose.red{background:url(close_red.png) no-repeat}#lbClose.green{background:url(close_green.png) no-repeat}#lbClose.blue{background:url(close_blue.png) no-repeat}#lbClose.gold{background:url(close_gold.png) no-repeat}#lbPlay{width:64px;height:28px;float:right;margin-bottom:1px}#lbPlay.grey{background:url(play_grey.png) no-repeat}#lbPlay.red{background:url(play_red.png) no-repeat}#lbPlay.green{background:url(play_green.png) no-repeat}#lbPlay.blue{background:url(play_blue.png) no-repeat}#lbPlay.gold{background:url(play_gold.png) no-repeat}#lbPause{width:64px;height:28px;float:right;margin-bottom:1px}#lbPause.grey{background:url(pause_grey.png) no-repeat}#lbPause.red{background:url(pause_red.png) no-repeat}#lbPause.green{background:url(pause_green.png) no-repeat}#lbPause.blue{background:url(pause_blue.png) no-repeat}#lbPause.gold{background:url(pause_gold.png) no-repeat}
