*,h1,h2,h3,h4,h5,p {font-family:sans-serif;}
* {border:0;margin:0;padding:0;}
body {background:#073643;color:#353535;font-family:sans-serif;}
a {color:#353535;}
h1 {color:#03485e;}
h4 {font-weight:normal;}
h4.q {font-weight:bold;}

div#freetobrowse {text-align:right;padding:1px;background:#5f9304;color:#fff;}

div#topnav {background:#3fa1b3;border-top:2px solid #335661;border-bottom:1px solid #fff;text-align:center;}
table.topnav {border:0;margin:1px auto 0;}
td.topnav {text-align:center;}

div#logo {text-align:center;background:#ffcc33;color:#000;font-weight:bold;}

div#nav {background:#a1d4e0 url(img/120/bg_nav.gif) top left repeat-x;border-bottom:1px solid #000;}
table.nav {background:#a1d4e0 url(img/120/bg_nav.gif) top left repeat-x;border:0;width:100%;}
td.nav {background:#a1d4e0 url(img/120/bg_nav.gif) top left repeat-x;text-align:center;width:25%;border-right:1px solid #a1d4e0;}
td.navlast {background:#a1d4e0 url(img/120/bg_nav.gif) top left repeat-x;text-align:center;width:25%;}
td.nav_hl {text-align:center;width:25%;border-right:1px solid #a1d4e0;background:url(img/120/bg_nav_hl.gif) top left repeat-x;}
td.navlast_hl {text-align:center;width:25%;background:url(img/120/bg_nav_hl.gif) top left repeat-x;}
a.nav {border:0;}
img.nav {border:0;}

div.banner {background:#fff;text-align:center;border-top:1px solid #073643;border-bottom:1px solid #073643;padding-bottom:2px;}
div.banner img {width:100%;}
a.banner {color:#000;text-decoration:none;}

div.menu {background:#107393;color:#fff;padding:2px;margin:0 1px 1px 1px;font-weight:bold;text-align:center;}
div.menucat {background:#107393;color:#fff;padding:2px;margin:0 1px 1px 1px;}
a.menu {color:#00c6e3;text-decoration:underline;}
a.menucat {color:#fff;text-decoration:none;}
span.menu {color:#fff !important;}

div.listing {background:#fff;margin:0 1px;}
div.listingend {background:#fff;}
div.listingendinner {margin:0;}
div.item {padding:5px 0;margin:0 5px;border-bottom:1px solid #bde2e8;}
div.last {border:0;}
table.priceblock {width:99%;height:23px;}
div.price {background:#d9d9d9;padding:0 2px;}
p.itemtitle {color:#157c9b;font-weight:bold;text-decoration:none;}
a.itemtitle {color:#157c9b;font-weight:bold;text-decoration:none;}
a.cat {text-decoration:none;}
a.cat2 {font-size:inherit;}
a.buy {color:#cf4d3d;text-decoration:underline;font-weight:bold;}
img.star {width:9px;height:9px;margin:0 0 0 1px;}

div.toptitle {margin:0 1px;color:#03485e;font-weight:bold;background:#fff;}
div.toptitleinner {padding:5px 8px;}
img.toptitle {margin-left:3px;vertical-align:middle;}

div.box {background:#186378;margin:1px;}

div.hdr {background:#3fa7c4;}
div.hdrinner {color:#fff;padding:5px;border-bottom:1px solid #083643;}

div.hdr2 {background:#3fa7c4;}
div.hdr2inner {color:#fff;padding:5px;}
h1.subtitle {background:#fff;margin:0 1px;padding:3px 8px;}
p.txt {background:#fff;margin:0 1px;padding:3px 8px;}

form.searchform {text-align:center;}
input.text {color:#000;width:82px;vertical-align:middle;background:#fff;border:1px solid #000;margin:5px 0;padding:2px;}
input.srchbtn {text-align:center;vertical-align:middle;background:#FFD100;color:#333;font-weight:bold;padding:2px;margin:5px 0;border:1px solid #006685;}
input.srchbtn:focus,input.srchbtn:hover {border:1px solid #fff;}
img.isearch {vertical-align:middle;margin:0;}

form.sortform {text-align:left;}
table.sort {width:94%;margin:0 auto;}
td.sorttxt {color:#fff;}
input.sortby {background:#186378;}
input.sortbtn {text-align:center;vertical-align:middle;background:#FFD100;color:#333;font-weight:bold;padding:1px;margin:2px 0 2px 2px;border:1px solid #006685;}
input.sortbtn:focus,input.sortbtn:hover {border:1px solid #fff;}

div.page {margin:0 1px 1px 1px;background:#d1d1d1;}
div.pageinner {text-align:center;padding:5px 0;}
a.page {text-align:center;color:#3d6275;font-size:smaller;text-decoration:underline;}
b.page {text-align:center;font-size:smaller;font-weight:bold;}
table.page {width:99%;margin:0 auto;}

div.itemdetails {margin:2px 1px;background:#fff;}
div.itemdetailsinner3 {padding:5px;}
div.sshot {text-align:center;padding:3px 0;}
img.sshot {width:100px;height:131px;}
img.sshot2 {width:100px;height:131px;}
td.details {vertical-align:top;}
td.rating {vertical-align:top;padding-top:2px;white-space:nowrap;}
h1.itemTitle {color:#369fbe;margin-bottom:5px;}
p.btn {margin:2px 0;text-align:center;}
p.tc {margin:0;}
a.tc {color:#047e9b;font-size:smaller;text-decoration:underline;}
a.btn {color:#073544;text-decoration:underline;padding:0;margin:0;font-weight:bold;display:block;}
a.btn1 {color:#073544;text-decoration:underline;padding:0;}
a.btn2 {color:#ec432e;text-decoration:underline;padding:0;}
a.cancel {text-align:center;vertical-align:middle;background:#006685;color:#fff;font-weight:bold;padding:1px;margin:2px 0 2px 2px;border:1px solid #333;text-decoration:none;}
a.cancel:focus,a.cancel:hover {background:#eee;color:#000;border:1px solid #000;}
input.btn {text-align:center;vertical-align:middle;background:#FFD100;color:#333;font-weight:bold;padding:1px;margin:2px 0 2px 2px;border:1px solid #006685;}
input.btn:focus,input.btn:hover {background:#eee;color:#000;border:1px solid #000;}
p.desc {border-top:1px solid #b9dde9;border-bottom:1px solid #b9dde9;margin:8px 0;padding:5px 0;}
h4.price {font-weight:bold;}
p.note {font-size:xx-small;margin-top:5px;}
a.note {font-size:xx-small;}
p.note2 {font-size:xx-small;margin-top:5px;color:#FFD100;}

input.promocode {color:#000;width:40px;vertical-align:top;background:#fff;border:1px solid #000;margin:0 0 0 2px;padding:2px;}

div.rateform {margin:0;}
select.rating {padding:1px;border:1px solid #ccc;background:#fff;width:50px;}
p.bl {color:#157c9b;}

p.msg {background:#fff;color:#ec432e;font-weight:bold;margin:2px;padding:3px;}
.msg2 {color:#3b8f13;margin:5px 0 0 0;font-weight:bold;}
.error {color:#ec432e;}

div#ftrlinks {color:#fff;margin:5px 8px;}
a.ftrlinks {color:#fff;text-decoration:none;}

div#footer {background:#067e9c;color:#fff;padding:5px 8px;}
a.footer {text-decoration:none;font-weight:bold;color:#fff;}
div.footer {color:#fff;margin:0;}
div.footerhdr {color:#f9f3c1;font-weight:bold;margin:0;}
