h1,h2,h3,div.blocktitle {font-size:medium;}
body, h4,h5,p,span,label,dt,div,td,a,select,textarea,input,b {font-size:small;}
p.itemdesc, p.rateby, a.ftrlinks, td.sorttxt, a.backToTop {font-size:x-small;}
