div.action {margin:0 !important;}
p.ftdesc {padding:3px;}
div.contentpad {padding:0 4px 4px 4px;}
div.contentpad p {margin:4px 0 2px;}
dt {padding:0 0 0 2px;}
dt.cat {padding:2px;}
img.ss {width:100px;margin:2px 5px;}
img.ftbanner {width:112px;height:43px;}
dt.ftr, dt.ftr2 {padding-top:1px;padding-bottom:1px;}
td.itemth {width:30px;}
img.itemth {width:20px;height:20px;margin:0 5px 5px;}
