p.ftdesc {padding:3px 7px;}
div.contentpad {padding:0 5px 5px 5px;}
div.contentpad p {padding:3px 0 2px;}
dt {padding:0 0 0 4px;}
dt.cat {padding:3px 3px 3px 7px;}
img.ss {width:100px;}
img.ftbanner {width:160px;height:61px;}
dt.ftr, dt.ftr2 {padding-top:2px;padding-bottom:2px;}
table.featured td {width:33%;}
