p.ftdesc {padding:3px 9px;}
div.contentpad {padding:0 6px 6px 6px;}
div.contentpad p {margin:6px 0 3px;}
td.itemth {width:50px;}
img.itemth {margin:0 0 0 2px;}
div.action {margin:0 0 0 52px;}
dt {padding:0 0 0 6px;}
dt.cat {padding:3px 3px 3px 9px;}
img.ss {width:100px;}
img.ftbanner {width:230px;height:89px;}
dt.ftr, dt.ftr2 {padding-top:2px;padding-bottom:2px;}
table.featured td {width:33%;}
