p.ftdesc {padding:3px 11px;}
div.contentpad {padding:0 8px 8px 8px;}
div.contentpad p {margin:8px 0 3px;}
td.itemth {width:52px;}
img.itemth {margin:0 0 0 4px;}
td.item {width:260px;}
div.action {margin:0 0 0 54px;}
dt {padding:0 0 0 8px;}
dt.cat {padding:3px 3px 3px 11px;}
img.ss {width:130px;}
img.ftbanner {width:310px;height:119px;}
dt.ftr, dt.ftr2 {padding-top:3px;padding-bottom:3px;}
table.featured td {width:33%;}
