p.ftdesc {padding:3px 11px;}
div.contentpad {padding:0 10px 10px 10px;}
div.contentpad p {margin:10px 0 5px;}
td.itemth {width:56px;}
img.itemth {margin:0 0 0 6px;}
div.action {margin:0 0 0 58px;}
dt {padding:0 0 0 8px;}
dt.cat {padding:3px 3px 3px 11px;}
img.ss {width:160px;}
img.ftbanner {width:338px;height:129px;}
dt.ftr, dt.ftr2 {padding-top:3px;padding-bottom:3px;}
table.featured td {width:33%;}
