p.ftdesc {padding:3px 20px;}
div.contentpad {padding:0 18px 18px 18px;}
div.contentpad p {margin:10px 0 5px;}
td.itemth {width:70px;text-align:center;}
div.action {margin:0 0 0 72px;}
dt {padding:0 0 0 17px;}
dt.cat {padding:3px 3px 3px 20px;}
img.ss {width:180px;}
img.ftbanner {width:345px;height:132px;}
dt.ftr, dt.ftr2 {padding-top:3px;padding-bottom:3px;}
table.featured td {width:33%;}
