/*div.banner, div.content, div.ftr {width:160px;}*/
div.blocktitle {background:#efefef url(img/172/bg_title_bar.gif) top left no-repeat;padding:2px 6px;}
div.subtitle {background:#fff url(img/172/bg_subtitle_bar.gif) top left no-repeat;padding:2px 6px 10px;}
div.inttitle {background:#fff url(img/172/bg_subtitle_bar.gif) top left no-repeat;padding:2px 6px 10px;}
p.ftdesc {padding:3px 7px;}
div.sepdot {background:url(img/172/div_dot.gif) center left repeat-x;height:2px;}
div.sepsolid {background:url(img/172/div_dot.gif) center left repeat-x;height:2px;}
div.topcurve {background:#363636 url(img/172/top_curve.gif) top left no-repeat;height:6px;}
div.endcurve {background:#363636 url(img/172/end_curve.gif) top left no-repeat;height:14px;}
div.ftrcurve {background:#363636 url(img/172/ftr_curve.gif) top left no-repeat;height:7px;}
div.tabs {background:url(img/172/bg_tab.gif) top left repeat-x;}
div.tabs2 {background:url(img/172/bg_tab2.gif) top left repeat-x;}
div.contentpad {/*padding:0 0 5px 5px;*/border-right:5px solid #fff;border-bottom:5px solid #fff;border-left:5px solid #fff;}
div.contentpad p {padding:3px 0 2px;}
dt {padding:3px 3px 1px 7px;}
dt.cat {padding:3px 3px 3px 7px;}
td.pl3th {width:30px;}
td.pl3title {width:53px;}
img.ss2{width:40px;margin:0 0 0 3px;}
img.ftbanner {width:160px;height:61px;}
img.pl3th {width:30px;height:26px;}
dt.ftr, dt.ftr2 {padding-top:2px;padding-bottom:2px;}
/*div.topbanner{border-top:4px solid #363636;}*/
img.itemth {width:30px;height:30px;}
td.itemth {width:33px;}
td.item {height:10px;}
td.arrow {border-right:3px solid #fff;height:10px;}
td.price {height:10px;}
table.pagination {border-right:2px solid #fff;border-left:2px solid #fff;}
input.srchtext {width:105px;}
div#container {width:168px;}
dt.int_3 {background:url(img/172/bg_int_3.gif) center left no-repeat;height:19px;padding:0 0 0 25px;margin:1px 0 0 0;}
dt.int_v {background:url(img/172/bg_int_v.gif) center left no-repeat;height:19px;padding:0 0 0 25px;margin:1px 0 0 0;}
dl.int {padding:3px 0 1px;}
