/*div.banner, div.content, div.ftr {width:338px;}*/
div.blocktitle {background:#efefef url(img/350/bg_title_bar.gif) top left no-repeat;padding:5px 10px;}
div.subtitle {background:#fff url(img/350/bg_subtitle_bar.gif) top left no-repeat;padding:5px 10px 20px;}
div.inttitle {background:#fff url(img/350/bg_subtitle_bar.gif) top left no-repeat;padding:5px 10px 20px;}
p.ftdesc {padding:3px 11px;}
div.sepdot {background:url(img/350/div_dot.gif) center left repeat-x;height:2px;}
div.sepsolid {background:url(img/350/div_dot.gif) center left repeat-x;height:2px;}
div.topcurve {background:#363636 url(img/350/top_curve.gif) top left no-repeat;height:13px;}
div.endcurve {background:#363636 url(img/350/end_curve.gif) top left no-repeat;height:30px;}
div.ftrcurve {background:#363636 url(img/350/ftr_curve.gif) top left no-repeat;height:14px;}
div.tabs {background:url(img/350/bg_tab.gif) top left repeat-x;}
div.tabs2 {background:url(img/350/bg_tab2.gif) top left repeat-x;}
div.contentpad {/*padding:0 0 10px 10px;*/border-right:10px solid #fff;border-bottom:10px solid #fff;border-left:10px solid #fff;}
div.contentpad p {margin:10px 0 5px;}
td.itemth {width:56px;}
img.itemth {margin:6px 0 0 6px;}
div.action {margin:0 0 0 58px;}
dt {padding:3px 3px 1px 11px;}
dt.cat {padding:3px 3px 3px 11px;}
td.pl3th {width:60px;}
td.pl3title {width:100px;}
img.ftbanner {width:338px;height:129px;}
img.pl3th {width:60px;height:50px;}
dt.ftr, dt.ftr2 {padding-top:3px;padding-bottom:3px;}
div.topbanner {width:345px;}
table.pagination {border-right:10px solid #fff;border-left:10px solid #fff;}
input.srchtext {width:255px;}
div#container {width:345px;}
dt.int_3 {background:url(img/350/bg_int_3.gif) center left no-repeat;height:40px;padding:0 0 0 40px;margin:1px 0 0 0;}
dt.int_v {background:url(img/350/bg_int_v.gif) center left no-repeat;height:40px;padding:0 0 0 40px;margin:1px 0 0 0;}
dl.int {padding:6px 0 3px;}
