h1,h2,h3,div.blocktitle {font-size:small;}
body, h4,h5,p,span,label,dt,div,td,a,select,textarea,input,b {font-size:x-small;}
p.itemdesc, p.rateby, a.ftrlinks, td.sorttxt, a.backToTop, td.price, a.cp {font-size:xx-small;}
