body {font:11px Verdana, Arial, Helvetica, sans-serif;color:#000000;}

#cm {margin:0; padding:0; width:765px;}
#cm td {color:#094d9c;}
#cm a {color:#094d9c; text-decoration:underline;}
#cm img {margin:0; padding:0; border:0;}
#cm select {font-size:11px;}
#cm .hide {display:none; visibility:hidden;}
#cm .clear {clear:both; float:none; background:none;}
#cm .separator {clear:both;height:1px !important; overflow:hidden;margin:0 0 5px 0;padding:0;border:0;border-top:1px dashed #adc4de;}

#cm #cm_container.home {margin:9px 0 0 9px; padding:0; background:url(../images/bg_home_bottom.gif) bottom left no-repeat;}
#cm #cm_container.home #cm_innercontainer {background:url(../images/bg_home_top.gif) top left no-repeat; padding:18px 18px 0 18px; height:430px;}

#cm #banner {float:right;}

#cm #device {width:175px; height:120px; min-height:115px; max-height:115px; margin:0; padding:0 0 5px 0; background:url(../images/bg_your_device.gif) top left no-repeat;}
#cm #device h1 {margin:0; padding:0;height:23px; font-size:0px; text-indent:-99999px;}
#cm #device img {float:left;margin:3px; height:75px;}
#cm #device div.info {height:45px; min-height:45px; max-height:45px; margin:5px 0 0 0; padding:3px 3px 0 3px;}
#cm #device div.info p {margin:0; padding:0;}
#cm #device div.links {margin:12px 0 0 0;}
#cm #device div.links p {margin:0; padding:0; text-align:right;}
#cm #device div.links a {background:url(../images/i_arrow.gif) center right no-repeat; margin:0 5px 0 0; padding:0 17px 0 0; line-height:15px; font-weight:bold; text-align:right; text-decoration:none;}
#cm #device div.loginForm {margin:0;padding:5px 5px 0 5px;}
.pass {width:100px;}

#cm #selectPhone { width:555px; top:100px;left:200px;position:absolute;z-index:10;padding:5px;background:#cedab6;text-align:center;border:1px solid #031f3f; }
#cm #selectPhone ul { position:relative; margin: 0; padding:8px; }
#cm #selectPhone ul li { float:left; width:42px; height:86px; position:relative; margin:0; padding:2px; text-align:center; }

#cm #cm_search {width:175px; height:20px; margin:8px 0 0 0; padding:3px 0; background:url(../images/bg_curve_175b.gif) bottom left no-repeat; text-align:center;}
#cm #cm_search input.txt {width:84px; vertical-align:bottom;}
#cm #cm_search input.btn {width:76px; vertical-align:middle;}

#cm #buckets {margin:0; padding:18px 0 0 0; text-align:center;}
#cm #buckets #bucketI {float:left; width:232px; height:255px; margin:0; padding:0; background:url(../images/bg_h_personalization.gif) top left no-repeat;}
#cm #buckets #bucketII {float:left; width:232px; height:255px; margin:0 0 0 12px; padding:0; background:url(../images/bg_h_entertainment.gif) top left no-repeat;}
#cm #buckets #bucketIII {float:left; width:232px; height:255px; margin:0 0 0 12px; padding:0; background:url(../images/bg_h_applications.gif) top left no-repeat;}
#cm #buckets img {margin:0 auto !important;}
#cm #buckets ul {margin:33px 10px 2px 10px; padding:0 5px; list-style:none; height:35px; clear:both; float:none; text-align:left; font-size:11px;}
#cm #buckets ul li {float:left; display:block; width:90px; padding:0 2px 0 0;}
#cm #buckets ul li a {margin:0; padding:0 0 0 20px; background:url(../images/i_arrow.gif) center left no-repeat; line-height:15px; vertical-align:middle; text-decoration:none;}
#cm #buckets ol {/*margin:0 12px 0 35px;*/margin:0 12px 0 20px; padding:0; list-style:none; text-align:left; font-size:10px;}
#cm #buckets ol li {margin:2px 0; height:20px; line-height:20px !important; vertical-align:middle !important; color:#094d9c; overflow:hidden;}
#cm #buckets ol li img {/*float:left;*/ width:20px; height:20px; padding:0; margin:0 5px 0 0 !important; vertical-align:middle !important;}

#cm .pageTitle {margin:0; padding:0 0 0 15px; line-height:50px; vertical-align:middle; font-size:18px; color:#b44800;}
#cm .pageTitle span {font-weight:normal;}
#cm #leftNav {float:left; margin:0 0 20px 0; padding:0; width:175px;}
#cm #cmNav {margin:8px 0 0 0; padding:0;}
#cm #cmNav h2 {/*height:26px;*/ margin:0; padding:0 0 0 14px; background:#094d9c; color:#ffffff; font-size:12px; line-height:20px; vertical-align:middle;}
#cm #cmNav ul {margin:0; padding:0; background:#eaf0f6; list-style:none;}
#cm #cmNav ul li {margin:0; padding:0 0 5px 35px; font-size:11px; font-weight:bold; line-height:20px; border-bottom:1px dashed #adc4de;}
#cm #cmNav ul li.last {border-bottom:none;}
#cm #cmNav ul li.hl {background:url(../images/left_menu_arrow.gif) top left no-repeat; color:#b44800; font-weight:bold;}
#cm #cmNav ul li.hl a {color:#b44800;}
#cm #cmNav ul li ul {margin:0; padding:0;}
#cm #cmNav ul ul li {margin:0; padding:0 0 0 12px; background:url(../images/sm-blue-arrow.gif) center left no-repeat; color:#094d9c; font-size:10px; font-weight:normal; border-bottom:none;}
#cm #cmNav ul ul li a {color:#094d9c !important;}
#cm #cmNav ul ul li.hl {background:url(../images/sm-brown-arrow.gif) center left no-repeat; color:#b44800;}
#cm #cmNav ul ul li.hl a {color:#b44800 !important;}

#cm #cmBody {float:right; width:575px;}

#cm #cmBody #banner {float:none; margin:0 0 12px 0; padding:0;}

#cm .gradientModule h3 {margin:0; padding:0 0 0 15px; background:#a9be7d; color:#000000; line-height:30px; font-size:11px; font-weight:bold;}
#cm .categoryBrowse {margin:0; padding:0 0 15px 0;}
#cm .categoryBrowse ul {margin:0 0 0 15px; padding:0;list-style:none; font-size:11px;}
#cm .categoryBrowse ul li {float:left; margin:0; padding:0 0 0 20px; background:url(../images/i_arrow.gif) center left no-repeat; line-height:15px; vertical-align:middle; width:140px; max-width:120px; min-width:120px;}

#cm .browseAlphabet {margin:0; padding:0 0 15px 0;}
#cm .browseAlphabet h3 {line-height:26px;height:26px; vertical-align:middle;}
#cm .browseAlphabet select {margin:0 0 0 20px;}

#cm .mediaGrid {margin:0 0 15px 0; padding:0;}
#cm .mediaGrid .headerControl {margin:0; padding:0 0 0 15px; background:#094d9c; color:#ffffff;}
#cm .mediaGrid h2 {margin:0; padding:0; line-height:30px; font-size:11px; font-weight:bold; color:#084d9c;}
#cm .mediaGrid h3 {margin:0; padding:0; line-height:30px; font-size:11px; font-weight:bold;}
#cm .mediaGrid .media-viewAll {float:right; margin:0; padding:0 15px 0 0; line-height:30px; font-size:10px; font-weight:normal;}
#cm .mediaGrid .media-viewAll a {color:#ffffff;}
#cm .mediaGrid .mediaListing {float:none; clear:both;}

#cm .mediaGrid table {width:100%; /*border:0; border-right:1px dashed #adc4de;*/}
#cm .mediaGrid tr.odd {background:#d6e1ee;}
#cm .mediaGrid th {padding:3px; background:#5b89bd; color:#ffffff; font-size:11px; text-align:left;}
#cm .mediaGrid td {padding:3px; border-left:1px dashed #adc4de; border-bottom:1px dashed #adc4de; font-size:11px;}
#cm .mediaGrid td.price {border-right:1px dashed #adc4de;}

#cm .mediaList, #cm .mediaListRight {float:left; width:280px;}
#cm .mediaListRight {margin:0 0 0 15px;}

#cm .mediaGrid .mediaListing table {width:280px;}
#cm .mediaGrid .mediaListing table td {height:110px;}

.mediaGrid td { vertical-align:middle; }
.mediaGrid td a { display:block; }

.mediaGrid .productListing .thDate,
.mediaGrid .productListing .date { width:85px; padding: 4px 8px 4px 11px; }
.mediaGrid .productListing .thPrice,
.mediaGrid .productListing .price { width:35px !important; }
.mediaGrid .productListing .thProvider { width:120px !important; }
/*.mediaGrid .productListing th.noborder { color:#000; background-color:#fff; text-align: left; border:none; }*/

.mediaGrid .productListing td.Thumb { text-align:right; vertical-align:middle; width:35px !important; }
.mediaGrid .productListing td.ThumbRt { text-align:right; vertical-align:middle; width:30px !important; }
.mediaGrid .productListing td.ThumbSc { text-align:right; vertical-align:middle; width:45px !important; }

.mediaGrid .productListing td.Thumb a,
.mediaGrid .productListing td.ThumbRt a,
.mediaGrid .productListing td.ThumbSc a { padding:0; margin:0; text-align:right;}

.mediaGrid .productListing img.imgThumb { width:35px !important; height:35px !important; margin:1px 0; border:1px solid #6c6c6c; }
.mediaGrid .productListing img.imgThumbSc { width:45px !important; height:35px !important; margin:1px 0; border:1px solid #6c6c6c; }

/*
	.mediaGrid .footer { background: #000 url(../images/i/bg-mediaGrid-footerLeft.gif) no-repeat bottom left;	width:100%; height:21px; margin-bottom:15px; }
		.mediaGrid .headerControl { background:#fff; height:21px; }
		.mediaGrid .footer .headerControl { position:relative; background:#fff; height:21px; }
 * html .mediaGrid .footer .headerControl { padding-top:5px; }
*/
			.mediaGrid .footer {background:#fff;}
			.mediaGrid .footer h3 { font-size: 11px; margin:0; padding:5px 11px; }
			.mediaGrid .footer ul { background:#fff; margin:4px 0 3px 0 ; padding:0; text-align: center; width:100%; }
				.mediaGrid .footer li a { padding:0 4px; font-weight: bold; color:#fff; }
				.mediaGrid .footer li { display:inline; list-style-type: none; margin:0; }
				.mediaGrid .footer li.mdPrevious a {  padding: 0 12px 0 3px ; background: url(../images/i/bg-headerControl-navPrev.gif) no-repeat center left; }
				.mediaGrid .footer li.mdNext a     { padding: 0 3px 0 12px ; background: url(../images/i/bg-headerControl-navNext.gif) no-repeat center right; }
				.mediaGrid .footer li.mdPrevious i, 
				.mediaGrid .footer li.mdNext i { position: absolute; left: -99em; }

				* html .mediaGrid .footer li.mdPrevious { margin-right:8px;}
				* html .mediaGrid .footer li.mdNext { margin-left:8px;}

				* html .mediaGrid .footer li.mdPrevious i, 
				* html .mediaGrid .footer li.mdNext i { position: static; }

				* html .mediaGrid .footer .mdPrevious a, 
				* html .mediaGrid .footer .mdPrevious a:visited, 
				* html .mediaGrid .footer .mdPrevious a:hover  { background-position:right; color:#000; }
				* html .mediaGrid .footer .mdNext a, 
				* html .mediaGrid .footer .mdNext a:visited, 
				* html .mediaGrid .footer .mdNext a:hover      { background-position:left;  color:#000; }

				.mediaGrid .footer li.active a { color:#000; padding:0; }
				.mediaGrid .footer li.active i { color:#000; padding:0 3px; }

					.mediaGrid .footer li a:hover { text-decoration: none;  }
					.mediaGrid .footer i { font-style: normal; }
	 .moreResults { text-align: right; padding:3px 13px; background-color: #fff; border-top: 1px solid #d9d9d9; }
	 	.moreResults a { display:block; }                                                                                        
	 	.moreResults a:hover { color:#666 !important; }
			.mediaGrid .headerControl .media-viewAll { margin:-20px 12px 0 0; text-align: right; }

			.mediaGrid .footer .media-viewPrev { position: absolute; top:3px; left:12px; margin:0; text-transform: uppercase; }
			.mediaGrid .footer .media-viewNext { position: absolute; top:3px; right:12px; margin:0; text-transform: uppercase; }
			.mediaGrid .footer .media-viewPrev,
			.mediaGrid .footer .media-viewNext { top: 0; }
	 * html .mediaGrid .footer .media-viewPrev,
	 * html .mediaGrid .footer .media-viewNext { top: 4px; }
	 * html .mediaGrid .footer .media-viewPrev,
	 * html .mediaGrid .footer .media-viewPrev { top:5px; }

img.play { width:16px !important; height:16px !important; border:none !important; vertical-align:middle; }

.productInfo .productThumb { margin-top: 0 !important; }
		.productInfo .productThumb img.wp { float:left; width:72px; height:56px; border:1px solid #3b3b3b; }
		.productInfo .productThumb img.rt { float:left; width:75px; height:75px; border:1px solid #3b3b3b; }
		.productInfo .productThumb img.ga { float:left; width:75px; height:75px; border:1px solid #3b3b3b; }
		.productInfo .productThumb img.ap { float:left; width:75px; height:75px; border:1px solid #3b3b3b; }
.productInfo .productBlurb { float:none !important; width:auto !important;  }
.productInfo .purchasePrice { width:45%; }

.productInfo .productSummaryShort .productBlurb { width:420px !important; }

.productInfo .productSummaryShort .productBlurb h3,
.productInfo .productSummaryShort .productBlurb p.msg,
.productInfo .productSummaryShort .productBlurb .enterNumber{ padding-left: 10px; }


#cm .mediaListing table {border-right:1px dashed #adc4de;}
#cm .mediaListing td {width:25%; text-align:center;}

/*************************************************************************/
#userRating{vertical-align:top;clear:right;height:21px;}
#Rating{float:right;margin:0;}
#Rating span{vertical-align:top;}

/*#rateForm select{vertical-align:top;height:21px;color:#666666;font-size:15px;}*/

#cmBody #preview { float:left; width:199px; background:#cedab5; padding:4px; margin:0 0 5px 0; }
#preview #preview_img_container { width:199px; height:199px; line-height:199px; font-size:160px; background:#fff url(../images/bg_preview.jpg) top left no-repeat; text-align:center; vertical-align:middle; display:table-cell; position:relative; }
#preview #preview_img_container img { vertical-align:middle; }

#cmBody #preview #preview_btn { text-align:center; margin:19px 0 22px 0;}
#cmBody #preview #preview_btn a.listen { display:block; width:68px; height:20px; background:url(../images/btn_listen.gif) top left no-repeat; margin:0 auto; }
#cmBody #preview #preview_btn a.listen:hover { background:url(../images/btn_listen_over.gif) top left no-repeat; }
#cmBody #preview #preview_btn a.listen b { display:none; visibility:hidden; }
#cmBody #preview #preview_btn a.preview { display:block; width:68px; height:20px; background:url(../images/btn_preview.gif) top left no-repeat; margin:0 auto; }
#cmBody #preview #preview_btn a.preview:hover { background:url(../images/btn_preview_over.gif) top left no-repeat; }
#cmBody #preview #preview_btn a.preview b { display:none; visibility:hidden; }
#cmBody #preview .note { line-height:12px; padding:0 4px 4px; }
#cmBody #preview ul.preview_images { width:47px; height:19px; background:url(../images/btn_images.gif) top left no-repeat; margin:0 auto; padding:0 0 0 55px; }
#cmBody #preview ul.preview_images li { float:left; list-style:none; width:11px; height:11px; display:block; background:#919495 url(../images/btn_num_mask.gif) center center no-repeat; margin:4px 4px 0 0; font-size:9px; line-height:11px; color:#373737; text-align:center; vertical-align:middle; cursor:pointer; behavior: url(css/IEFixes.htc); }
#cmBody #preview ul.preview_images li.hl { background:#ffa73c url(../images/btn_num_mask.gif) center center no-repeat; }
#cmBody #preview ul.preview_images li:hover, #preview ul.preview_images li.hover { background:#d6d6d6 url(../images/btn_num_mask.gif) center center no-repeat; }

#cmBody #detail { float:left; position:relative; width:356px; margin:0 0 5px 10px; padding:0; }
#cmBody #detail .head h1 { font-size:12px; margin:0; padding:0 0 2px 0; color:#094d9c; }
#cmBody #detail .head h2 { font-size:12px; line-height:12px; margin:2px 0; color:#094d9c; }
#cmBody #detail .desc { padding:8px 0 10px 0; }

#cmBody #detail #tabs {list-style:none;margin:0;padding:0;border-bottom:10px solid #a9bd80;height:32px;}
#cmBody #detail #tabs li {float:left;height:26px;line-height:26px;margin:0;padding:0 10px;background:#cedab6;border-top:6px solid #ffffff;border-right:1px solid #ffffff;font-weight:bold;color:#333333; cursor:pointer;}
#cmBody #detail #tabs li.hl {background:#a9bd80;border-top:6px solid #a9bd80;}

#cmBody #detail #tabsContent {border:1px dashed #dddddd/*#adc4de*/; padding:6px 0 6px 6px;}

#cmBody #detail #tabsContent ul.price { list-style:none; margin:0; padding:0; vertical-align:middle; }
#cmBody #detail #tabsContent ul.price li { float:left; width:110px; height:65px; margin:0 5px 5px 0; padding:6px 0 5px 0; text-align:center; vertical-align:middle; background:#eeeeee; cursor:pointer; }
#cmBody #detail #tabsContent ul.price li.hl { background:#b44800; color:#ffffff; }
#cmBody #detail #tabsContent ul.price li span {display:block;}
#cmBody #detail #tabsContent ul.price li span.price_model {font-size:12px; font-weight:bold; text-transform:uppercase;}
#cmBody #detail #tabsContent ul.price li span.price {font-size:14px; font-weight:bold; padding:3px 0;}
#cmBody #detail #tabsContent ul.price li span.renewal {font-size:11px; font-weight:bold;}

#cmBody #detail #tabsContent select, 
#cmBody #detail #tabsContent input, 
#cmBody #detail #tabsContent a {height:18px; vertical-align:bottom; margin:0; padding:0;}

#cmBody #detail #tabsContent a img {height:19px; vertical-align:bottom; margin:0; padding:0; border:0;}

#cmBody #detail #tabsContent .orderForm, 
#cmBody #detail #tabsContent .rateForm, 
#cmBody #detail #tabsContent .phoneForm {vertical-align:bottom; margin:0; padding:0;}

#cmBody #detail #tabsContent .orderForm {clear:both; float:none;}

#cmBody #detail #tabsContent p {margin:5px 0;}
#cmBody #detail #tabsContent p span{margin:0 15px 0 0;}
#cmBody #detail #tabsContent p input{height:auto; vertical-align:middle;}

#cmBody #detail .multiple { background:url(../images/dotted_line_h.gif) bottom right repeat-x; }
#cmBody #detail .price_container { /*width:88px;*/ }
#cmBody #detail .price_container p { font-size:11px; line-height:12px; margin:0; padding:0; /*font-weight:bold; color:#8c8d8d; text-transform:uppercase; padding:3px 0 1px 0;*/ }
#cmBody #detail .price_container p.price { font-size:24px; line-height:22px; font-weight:bold; color:#303030; padding:0 0 5px 0; white-space:nowrap; }
#cmBody #detail .price_container p.tax { font-size:12px; font-weight:bold; color:#656565; padding:0 0 5px 0; }
#cmBody #detail .price_container span.priceII { color:#303030; }

#cmBody #detail .phoneForm .area_code, #detail .phoneForm .first_three { width:39px; height:19px; /*border:0; margin:0 2px 0 0; background:#dee1e1 url(../images/bg_input_phone_short.gif) top left no-repeat;*/ }
#cmBody #detail .phoneForm .last_four { width:49px; height:19px; /*border:0; margin:0; background:#dee1e1 url(../images/bg_input_phone_long.gif) top left no-repeat;*/ }

#cmBody #detail #errMsg { margin:0 0 5px 0; color:#912a2a; }
#cmBody #detail #compatPhoneLink { margin:3px 0 2px 0; }
#cmBody #detail #compatPhones { margin:5px 0 2px 0; }
/*****************************************************************/

BGSOUND, EMBED, OBJECT {width:0px; height:0px; }

#PreviewLayer { top:0px;left:0px;position:absolute;z-index:10;padding:5px;background:#cedab6;text-align:center;border:1px solid #031f3f; }
#PreviewLayer img {border:1px solid #031f3f;}
#PreviewLayer #PreviewLayer_innercontainer.phone { width:260px !important; max-width:260px !important; }
#PreviewLayer div.phones {text-align:left;}

#footer {clear:both; float:none;}