*,h1,h2,h3,p,td {font-family:sans-serif;}

a {color:#000;font-family:sans-serif;text-decoration:none;}
a:active {color:#005f92}

body {background:#b10d0e;color:#000;margin:0;padding:0;}
div,h1,h2,hr,p,table,tr,td,dl {margin:0;padding:0;border:none;}
td {vertical-align:top;}
form {text-align:center;}

#body {margin:0;}
#header {padding-bottom:3px;}

h1.title{padding:0;margin:0;text-align:center;}

div.promo {border:0;padding:0;margin:0;text-align:center;}
img.promo {border:0;padding:0;margin:0;}
a.promo {color:#fff;}

div.promo2 {color:#005f92;text-align:center;border:0;padding:8px 0 2px 0;margin:0;}
a.promo2 {color:#005f92;}

div.desc {padding:3px;}
img.prod_img {float:left; margin:5px 0 10px 0;}
h2.desc{text-align:center;}
p.desc{margin:0 0 5px 0;}
p.hl{margin:0 0 3px 0;color:#000;}

div.ctr {background:#ffc4c4;margin:3px 3px 5px 3px;padding:1px;clear:both;float:none;vertical-align:bottom;}
p.ctr{float:left;margin:0;padding:1px;text-align:left;vertical-align:bottom;}
a.ctr{/*white-space:nowrap;*/font-weight:normal;font-size:smaller;text-decoration:underline;vertical-align:bottom;}
img.ctr{float:left;margin:0 3px 0 0;vertical-align:bottom;}
span.ctr{font-size:smaller;vertical-align:bottom;}
div.clear {margin:0;padding:0;clear:both;float:none;}

div.link, div.results {margin:0;padding:0;}
dt.mnr {font-weight:bold;background:#4a4e4f url(../../images/805/generic_promo_dt_bg.gif) top left repeat-x;margin:2px 0;padding:1px;border-top:2px solid #8f9092;border-left:2px solid #8f9092;border-bottom:2px solid #000;border-right:2px solid #000;}
img.mnr {margin:0 1px 0 0;}
a.mnr, .mnr a, .mnr {color:#fff;}

a.page {color:#002c61;}

div.ico {padding:2px 0;}
table.ico {padding:0;width:100%;}
td.icons {text-align:center;vertical-align:top;width:50%;padding:3px;}
a.icon {white-space:nowrap;}

#footer {background:#fff;margin:0;padding:5px 0;clear:both;float:none;}
img.ftr {margin:0 1px 0 0;}
.afooterlink{text-decoration:none;color:#0033FF;}
