*,h1,h2,h3,p,td {font-family:sans-serif;color:#bbb;}

a {color:#000;font-family:sans-serif;text-decoration:none;}
a:active {color:#005f92}

body {background:#fff;margin:0;padding:0 0 5px 0;}
div,h1,h2,hr,p,table,tr,td,dl {margin:0;padding:0;border:none;}
td {vertical-align:top;}
form {text-align:center;}

#body {margin:0;}
#header {padding-bottom:3px;}

h1.title{background:#000;padding:0;margin:0;text-align:center;}

div.promo {background:#000;border:0;padding:0 0 10px 0;margin:0;text-align:center;}
img.promo {border:0;padding:0;margin:0;}
a.promo {color:#fff;}

div.promo2 {background:#fff;color:#005f92;text-align:center;border:0;padding:8px 0 2px 0;margin:0;}
a.promo2 {color:#005f92;}

div.desc {background:#000;padding:3px;}
img.prod_img {float:left; margin:5px 0 10px 0;}
h2.desc{color:#303030;text-align:center;}
p.desc{margin:0 0 5px 0;}
p.hl{margin:0 0 3px 0;color:#303030;}

div.link, div.results {margin:0;padding:0;}
dt.mnr {font-weight:bold;background:#4a4e4f url(../../images/805/generic_promo_dt_bg.gif) top left repeat-x;margin:2px 0;padding:1px;border-top:2px solid #8f9092;border-left:2px solid #8f9092;border-bottom:2px solid #000;border-right:2px solid #000;}
img.mnr {margin:0 1px 0 0;}
a.mnr, .mnr a, .mnr {color:#bbb;}

a.page {color:#002c61;}

div.ico {padding:2px 0;}
table.ico {padding:0;width:100%;}
td.icons {text-align:center;vertical-align:top;width:50%;padding:3px;background:#ffffff;}
a.icon {white-space:nowrap;}

#footer {background:#fff;margin:0;padding:0;}
img.ftr {margin:0 1px 0 0;}
.afooterlink{text-decoration:none;color:#0033FF;}
