<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>


AddType application/vnd.rim.cod cod
AddType text/vnd.sun.j2me.app-descriptor jad
AddType application/java-archive jar