body {font-size:xx-large;}

h1,h2,h3 {font-size:xx-large;}
h4,h5,p,span,dt,div {font-size:xx-large;}
td {font-size:xx-large;}
a {font-size:xx-large;}
a.toptitle {font-size:xx-large;}
a.hometitle {font-size:xx-large;}

div.sortoption {font-size:x-large;}
a.sort {font-size:x-large;}
a.sorthl {font-size:x-large;}
b.sort {font-size:x-large;}

p.page {font-size:xx-large;}
b.page {font-size:xx-large;}
a.page {font-size:xx-large;}
