h1, h2, h3, h4, h5, h6 { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; font-family: Arial, Helvetica, Sans-serif; font-size: 80%; font-weight:bold; }

table.pageMain { border: 0px; color: #313131; font-family: Arial, Helvetica, Sans-serif; font-weight: normal; margin: 0px 0px 0px 20px; padding: 0px 0px 0px 0px; width: 100%; }
table.pageMain tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.pageMain td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.pageMain td.pageTitle { margin: 0px 0px 0px 0px; padding: 26px 5px 4px 15px; text-align: left; vertical-align: top; width: 560px; }
table.pageMain td.pageTitle2 { margin: 0px 0px 0px 0px; padding: 24px 5px 4px 15px; text-align: left; vertical-align: top; width: 560px; }
table.pageMain td.pageLeft { background-image: url(../images/orange/1px_f4f4f5.gif); background-position: right; background-repeat: repeat-y; height: 100%; padding: 0px 1px 0px 0px; text-align: left; vertical-align: top; width: 185px; }
table.pageMain td.pageMiddle { padding: 0px 0px 0px 10px; text-align: left; vertical-align: top; width: 415px; }
table.pageMain td.pageRight { padding: 0px 0px 0px 5px; text-align: left; vertical-align: top; width: 140px; }
table.pageMain td.pagePad { padding: 0px 0px 0px 0px; width: 100%; }
table.pageMain td.hygieneLinks { background-color: #999999; color: #ffffff; height: 20px; padding: 0px 10px 0px 10px; text-align: left; vertical-align: middle; width: 100%; }
table.pageMain td.hygieneLinks a { color: #ffffff; text-decoration: none; }
table.pageMain td.hygieneLinks a:hover { color: #313131; text-decoration: none; }

table.mainLightGrey { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 415px; }
table.mainLightGrey tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGrey td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGrey td.Top { background-image: url(../images/orange/table_f4f4f4_415_top.gif); background-position: bottom; background-repeat: no-repeat; height: 6px; width: 415px; }
table.mainLightGrey td.Left { background-image: url(../images/orange/table_f4f4f4_415_left.gif); background-position: right; background-repeat: repeat-y; width: 5px; }
table.mainLightGrey td.Content { background-color: #f4f4f4; text-align: left; vertical-align: top; width: 405px; }
table.mainLightGrey td.Right { background-image: url(../images/orange/table_f4f4f4_415_right.gif); background-position: left; background-repeat: repeat-y; width: 5px; }
table.mainLightGrey td.Bottom { background-image: url(../images/orange/table_f4f4f4_415_bottom.gif); background-position: top; background-repeat: no-repeat; height: 18px; width: 415px; }

table.mainWhite { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 415px; }
table.mainWhite tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhite td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhite td.Top { background-image: url(../images/orange/table_ffffff_415_top.gif); background-position: bottom; background-repeat: no-repeat; height: 6px; width: 415px; }
table.mainWhite td.Left { background-image: url(../images/orange/table_ffffff_415_left.gif); background-position: right; background-repeat: repeat-y; width: 5px; }
table.mainWhite td.Content { background-color: #ffffff; text-align: left; vertical-align: top; width: 405px; }
table.mainWhite td.Right { background-image: url(../images/orange/table_ffffff_415_right.gif); background-position: left; background-repeat: repeat-y; width: 5px; }
table.mainWhite td.Bottom { background-image: url(../images/orange/table_ffffff_415_bottom.gif); background-position: top; background-repeat: no-repeat; height: 18px; width: 415px; }

table.leftNav { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 184px; }
table.leftNav tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.leftNav td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.leftNav td.Header { color: #7d7d7d; font-weight:bold; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 18px 0px 10px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.Header a { color: #000000; text-decoration: none; }
table.leftNav td.Header a:hover { color: #ff6600; text-decoration: none; }
table.leftNav td.ItemLevel1 { background-image: url(../images/orange/dotline_leftnav.gif); background-position: top; background-repeat: repeat-x; color: #7d7d7d; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 15px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.ItemLevel2 { background-color: #f6f6f6; color: #7d7d7d; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 20px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.ItemLevel3 { background-color: #f6f6f6; color: #7d7d7d; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 25px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.ItemLevel4 { background-color: #f6f6f6; color: #7d7d7d; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 30px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.ItemLevel5 { background-color: #f6f6f6; color: #7d7d7d; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 35px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.ItemLevel6 { background-color: #f6f6f6; color: #7d7d7d; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 40px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.ItemLevel7 { background-color: #f6f6f6; color: #7d7d7d; height: 20px; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 45px; text-align: left; vertical-align: middle; width: 184px; }
table.leftNav td.Normal { color: #7d7d7d; font-weight: normal; text-decoration: none; }
table.leftNav td.Normal a { color: #7d7d7d; text-decoration: none; }
table.leftNav td.Normal a:hover { color: #ff6600; text-decoration: none; }
table.leftNav td.Selected { background-color: #e9e9e9; background-image: url(../images/orange/clear.gif); color: #000000; font-weight: bold; text-decoration: none; }
table.leftNav td.Selected a { color: #000000; text-decoration: none; }
table.leftNav td.Selected a:hover { color: #ff6600; text-decoration: none; }
table.leftNav td.SelectedParent { background-color: #f6f6f6; background-image: url(../images/orange/clear.gif); color: #000000; font-weight: bold; text-decoration: none; }
table.leftNav td.SelectedParent a { color: #000000; text-decoration: none; }
table.leftNav td.SelectedParent a:hover { color: #ff6600; text-decoration: none; }
table.leftNav td.ArrowNormal { background-image: url(../images/orange/bg_arrow.gif); background-position: top; background-repeat: no-repeat; width: 6px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.leftNav td.ArrowSelected, table.leftNav td.ArrowSelectedParent { background-image: url(../images/orange/bg_arrow_on.gif); background-position: top; background-repeat: no-repeat; width: 6px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.leftNav td.Bottom { background-image: url(../images/orange/dotline_leftnav.gif); background-position: top; background-repeat: repeat-x; color: #7d7d7d; height: 10px; margin: 0px 0px 0px 0px; padding: 0px 18px 0px 18px; width: 184px; }

table.rightOuter { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 140px; }
table.rightOuter tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.rightOuter td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.rightOuter td.Header { background-image: url(../images/orange/table_ffffff_140_header.gif); background-position: top; background-repeat: no-repeat; margin: 0px 0px 0px 0px; padding: 10px 0px 6px 14px; width: 140px; }
table.rightOuter td.Top { background-image: url(../images/orange/table_ffffff_140_top.gif); background-position: top; background-repeat: no-repeat; height: 5px; width: 140px; }
table.rightOuter td.Left { background-image: url(../images/orange/table_ffffff_140_left.gif); background-position: left; background-repeat: repeat-y; width: 10px; }
table.rightOuter td.LeftGrad { background-image: url(../images/orange/table_ffffff_140_left_grad.gif); background-position: top; background-repeat: repeat-y; width: 10px; }
table.rightOuter td.Content { background-color: #ededed; margin: 0px 0px 0px 0px; padding: 1px 1px 1px 1px; text-align: center; vertical-align: middle; width: 120px; }
table.rightOuter td.Right { background-image: url(../images/orange/table_ffffff_140_right.gif); background-position: right; background-repeat: repeat-y; width: 10px; }
table.rightOuter td.RightGrad { background-image: url(../images/orange/table_ffffff_140_right_grad.gif); background-position: top; background-repeat: repeat-y; width: 10px; }
table.rightOuter td.Bottom { background-image: url(../images/orange/table_ffffff_140_bottom.gif); background-position: bottom; background-repeat: no-repeat; height: 23px; width: 140px; }
table.rightShadow { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 140px; }
table.rightShadow tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.rightShadow td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.rightShadow td.LeftTop { background-image: url(../images/orange/table_ffffff_140_left_shadow_top.gif); background-position: top; background-repeat: repeat-y; width: 5px; }
table.rightShadow td.LeftBottom { background-image: url(../images/orange/table_ffffff_140_left_shadow_bottom.gif); background-position: bottom; background-repeat: repeat-y; width: 5px; }
table.rightShadow td.Content { background-color: #ffffff; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align: center; vertical-align: middle; width: 130px; }
table.rightShadow td.Text { background-color: #ffffff; background-image: url(../images/orange/spot_bg_bottom.gif); background-position: bottom; background-repeat: no-repeat; margin: 0px 0px 0px 0px; padding: 0px 15px 10px 10px; text-align: left; vertical-align: top; }
table.rightShadow td.Text a { color: #7d7d7d; text-decoration: none; }
table.rightShadow td.Text a:hover { color: #ff6600; text-decoration: none; }
table.rightShadow td.RightTop { background-image: url(../images/orange/table_ffffff_140_right_shadow_top.gif); background-position: top; background-repeat: repeat-y; width: 5px; }
table.rightShadow td.RightBottom { background-image: url(../images/orange/table_ffffff_140_right_shadow_bottom.gif); background-position: bottom; background-repeat: repeat-y; width: 5px; }
table.rightShadow td.Bottom { background-image: url(../images/orange/table_ffffff_140_bottom.gif); background-position: bottom; background-repeat: no-repeat; height: 18px; width: 140px; }

table.rightInner { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 100%; }
table.rightInner tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.rightInner td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.rightInner td.Arrow { background-color: #ffffff; background-image: url(../images/orange/option_arrow.gif); background-position: top; background-repeat: no-repeat; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 10px; }
table.rightInner td.Content { background-color: #ffffff; margin: 0px 0px 0px 0px; padding: 0px 5px 2px 1px; text-align: left; vertical-align: top; width: 110px; }
table.rightInner td.Content a { color: #7d7d7d; text-decoration: none; }
table.rightInner td.Content a:hover { color: #ff6600; text-decoration: none; }

table.mainWhiteSml { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhiteSml tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhiteSml td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhiteSml td.TopLeft { background-image: url(../images/orange/table_ffffff_sml_lt.gif); background-position: bottom; background-repeat: no-repeat; height: 10px; width: 11px; }
table.mainWhiteSml td.Top { background-image: url(../images/orange/table_ffffff_sml_top.gif); background-position: bottom; background-repeat: repeat-x; height: 10px; }
table.mainWhiteSml td.TopRight { background-image: url(../images/orange/table_ffffff_sml_rt.gif); background-position: bottom; background-repeat: no-repeat; height: 10px; width: 11px; }
table.mainWhiteSml td.Left { background-image: url(../images/orange/table_ffffff_sml_lm.gif); background-position: right; background-repeat: repeat-y; width: 11px; }
table.mainWhiteSml td.Content { background-color: #ffffff; text-align: left; vertical-align: top; }
table.mainWhiteSml td.Right { background-image: url(../images/orange/table_ffffff_sml_rm.gif); background-position: left; background-repeat: repeat-y; width: 11px; }
table.mainWhiteSml td.BottomLeft { background-image: url(../images/orange/table_ffffff_sml_lb.gif); background-position: top; background-repeat: no-repeat; height: 9px; width: 11px; }
table.mainWhiteSml td.Bottom { background-image: url(../images/orange/table_ffffff_sml_bottom.gif); background-position: top; background-repeat: repeat-x; height: 9px; }
table.mainWhiteSml td.BottomRight { background-image: url(../images/orange/table_ffffff_sml_rb.gif); background-position: top; background-repeat: no-repeat; height: 9px; width: 11px; }

table.mainLightGreySml { background-color: #f4f4f4; border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGreySml tr { background-color: #f4f4f4; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGreySml td { background-color: #f4f4f4; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGreySml td.TopLeft { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_lt.gif); background-position: bottom; background-repeat: no-repeat; height: 10px; width: 10px; }
table.mainLightGreySml td.Top { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_top.gif); background-position: bottom; background-repeat: repeat-x; height: 10px; }
table.mainLightGreySml td.TopRight { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_rt.gif); background-position: bottom; background-repeat: no-repeat; height: 10px; width: 10px; }
table.mainLightGreySml td.Left { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_lm.gif); background-position: right; background-repeat: repeat-y; width: 10px; }
table.mainLightGreySml td.Content { background-color: #ffffff; text-align: left; vertical-align: top; }
table.mainLightGreySml td.LeftGrad { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_lm_grad.gif); background-position: bottom; background-repeat: no-repeat; width: 10px; }
table.mainLightGreySml td.ContentGrad { background-color: #ffffff; background-image: url(../images/orange/table_f4f4f4_sml_bg_grad.gif); background-position: bottom; background-repeat: repeat-x; text-align: left; vertical-align: top; }
table.mainLightGreySml td.RightGrad { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_rm_grad.gif); background-position: bottom; background-repeat: no-repeat; width: 10px; }
table.mainLightGreySml td.Right { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_rm.gif); background-position: left; background-repeat: repeat-y; width: 10px; }
table.mainLightGreySml td.BottomLeft { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_lb.gif); background-position: top; background-repeat: no-repeat; height: 15px; width: 10px; }
table.mainLightGreySml td.Bottom { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_bottom.gif); background-position: top; background-repeat: repeat-x; height: 15px; }
table.mainLightGreySml td.BottomRight { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_rb.gif); background-position: top; background-repeat: no-repeat; height: 15px; width: 10px; }
table.mainLightGreySml td.BottomLeftGrad { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_lb_grad.gif); background-position: top; background-repeat: no-repeat; height: 15px; width: 10px; }
table.mainLightGreySml td.BottomGrad { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_bottom_grad.gif); background-position: top; background-repeat: repeat-x; height: 15px; }
table.mainLightGreySml td.BottomRightGrad { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_sml_rb_grad.gif); background-position: top; background-repeat: no-repeat; height: 15px; width: 10px; }

table.mainLightGreyBtn { background-color: #f4f4f4; border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGreyBtn tr { background-color: #f4f4f4; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGreyBtn td { background-color: #f4f4f4; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainLightGreyBtn td.TopLeft { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_lt.gif); background-position: bottom; background-repeat: no-repeat; height: 4px; width: 7px; }
table.mainLightGreyBtn td.Top { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_top.gif); background-position: bottom; background-repeat: repeat-x; height: 4px; }
table.mainLightGreyBtn td.TopRight { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_rt.gif); background-position: bottom; background-repeat: no-repeat; height: 4px; width: 14px; }
table.mainLightGreyBtn td.Left { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_lm.gif); background-position: right; background-repeat: repeat-y; width: 7px; }
table.mainLightGreyBtn td.Content { background-color: #ffffff; text-align: center; text-decoration: none; vertical-align: middle; }
table.mainLightGreyBtn td.Content a { color: #ff6600; text-decoration: none; }
table.mainLightGreyBtn td.Content a:hover { color: #7d7d7d; text-decoration: none; }
table.mainLightGreyBtn td.Right { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_rm.gif); background-position: left; background-repeat: repeat-y; width: 14px; }
table.mainLightGreyBtn td.BottomLeft { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_lb.gif); background-position: top; background-repeat: no-repeat; height: 7px; width: 11px; }
table.mainLightGreyBtn td.Bottom { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_bottom.gif); background-position: top; background-repeat: repeat-x; height: 11px; }
table.mainLightGreyBtn td.BottomRight { background-color: #f4f4f4; background-image: url(../images/orange/table_f4f4f4_btn_rb.gif); background-position: top; background-repeat: no-repeat; height: 11px; width: 14px; }

table.mainWhiteBtn { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhiteBtn tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhiteBtn td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.mainWhiteBtn td.TopLeft { background-image: url(../images/orange/table_ffffff_btn_lt.gif); background-position: bottom; background-repeat: no-repeat; height: 4px; width: 7px; }
table.mainWhiteBtn td.Top { background-image: url(../images/orange/table_ffffff_btn_top.gif); background-position: bottom; background-repeat: repeat-x; height: 4px; }
table.mainWhiteBtn td.TopRight { background-image: url(../images/orange/table_ffffff_btn_rt.gif); background-position: bottom; background-repeat: no-repeat; height: 4px; width: 14px; }
table.mainWhiteBtn td.Left { background-image: url(../images/orange/table_ffffff_btn_lm.gif); background-position: right; background-repeat: repeat-y; width: 7px; }
table.mainWhiteBtn td.Content { background-color: #ffffff; text-align: center; text-decoration: none; vertical-align: middle; }
table.mainWhiteBtn td.Content a { color: #ff6600; text-decoration: none; }
table.mainWhiteBtn td.Content a:hover { color: #7d7d7d; text-decoration: none; }
table.mainWhiteBtn td.Right { background-image: url(../images/orange/table_ffffff_btn_rm.gif); background-position: left; background-repeat: repeat-y; width: 14px; }
table.mainWhiteBtn td.BottomLeft { background-image: url(../images/orange/table_ffffff_btn_lb.gif); background-position: top; background-repeat: no-repeat; height: 7px; width: 11px; }
table.mainWhiteBtn td.Bottom { background-image: url(../images/orange/table_ffffff_btn_bottom.gif); background-position: top; background-repeat: repeat-x; height: 11px; }
table.mainWhiteBtn td.BottomRight { background-image: url(../images/orange/table_ffffff_btn_rb.gif); background-position: top; background-repeat: no-repeat; height: 11px; width: 14px; }

td.horizLine { background-image: url(../images/orange/dotline_horiz.gif); background-position: center; background-repeat: repeat-x; height: 1px; }

td.vertLine { background-image: url(../images/orange/dotline_vert.gif); background-position: center; background-repeat: repeat-y; width: 1px; }

td.horizSolid { background-color: #f5f5f5; height: 1px; }

td.vertSolid { background-color: #f5f5f5; width: 1px; }

.linkOrange { text-decoration: none; }
.linkOrange a { color: #ff6600; text-decoration: none; }
.linkOrange a:hover { color: #7d7d7d; text-decoration: none; }

.linkGrey { text-decoration: none; }
.linkGrey a { color: #7d7d7d; text-decoration: none; }
.linkGrey a:hover { color: #ff6600; text-decoration: none; }

.linkBlack { text-decoration: none; }
.linkBlack a { color: #000000; text-decoration: none; }
.linkBlack a:hover { color: #ff6600; text-decoration: none; }

.linkWhite { text-decoration: none; }
.linkWhite a { color: #ffffff; text-decoration: none; }
.linkWhite a:hover { color: #000000; text-decoration: none; }

ul.arrowedLinks { list-style-type: none;  margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;  }
ul.arrowedLinks li { background-image : url(../images/orange/leftnav_arrow.gif); background-position : 0px 4px; background-repeat : no-repeat; padding-left: 6px; text-align: left; text-decoration: none; vertical-align: top; }
ul.arrowedLinks li.linkOrange { color: #313131; text-decoration: none; }
ul.arrowedLinks li.linkOrange a { color: #ff6600; text-decoration: none; }
ul.arrowedLinks li.linkOrange a:hover { color: #7d7d7d; text-decoration: none; }
ul.arrowedLinks li.linkGrey { color: #313131; text-decoration: none; }
ul.arrowedLinks li.linkGrey a { color: #7d7d7d; text-decoration: none; }
ul.arrowedLinks li.linkGrey a:hover { color: #ff6600; text-decoration: none; }

.textStandard { font-size: 80%; }

.textSmall { font-size: 71%; }

.textStrong { font-weight: bold; }

.textBlack { color: #000000; }

.textDarkGrey { color: #313131; }

.textGrey { color: #888888; }

.textLightGrey { color: #d2d2d2; }

.textOrange { color: #ff6600; }

.textWhite { color: #ffffff; }

.splashImage { margin: 0px 5px 12px 5px; }

.phoneBottom { background-image: url(../images/orange/img_phone_bottom.gif); background-position: top; background-repeat: no-repeat; height: 28px; padding: 0px 0px 0px 0px; text-align: left; vertical-align: top; width: 128px; }

table.tabsFive { border: 0px; margin: 0px 5px 10px 5px; padding: 0px 0px 0px 0px; width: 405px; }
table.tabsFive tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsFive td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsFive td.Normal { background-image: url(../images/orange/tabs5_normal.gif); background-repeat: no-repeat; height: 32px; padding: 11px 4px 10px 4px; }
table.tabsFive td.Selected { background-image: url(../images/orange/tabs5_selected.gif); background-repeat: no-repeat; height: 32px; padding: 11px 4px 10px 4px; }
table.tabsFive td.Spacer { background-image: url(../images/orange/tabs_spacer.gif); background-position: bottom; background-repeat: repeat-x; height: 32px; width: 9px; }

table.tabsFour { border: 0px; margin: 0px 5px 10px 5px; padding: 0px 0px 0px 0px; width: 405px; }
table.tabsFour tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsFour td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsFour td.Normal { background-image: url(../images/orange/tabs3_normal.gif); background-repeat: no-repeat; height: 32px; width: 74px; padding: 0px 0px 0px 0px; }
table.tabsFour td.Selected { background-image: url(../images/orange/tabs3_selected.gif); background-repeat: no-repeat; height: 32px; width: 74px; padding: 0px 0px 0px 0px; }
table.tabsFour td.Spacer { background-image: url(../images/orange/tabs_spacer.gif); background-position: bottom; background-repeat: repeat-x; height: 32px; width: 9px; }
table.tabsFour td.SpacerEnd { background-image: url(../images/orange/tabs_spacer.gif); background-position: bottom; background-repeat: repeat-x; height: 32px; width: 82px; }

table.tabsThree { border: 0px; margin: 0px 5px 10px 5px; padding: 0px 0px 0px 0px; width: 405px; }
table.tabsThree tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsThree td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsThree td.Normal { background-image: url(../images/orange/tabs3_normal.gif); background-repeat: no-repeat; height: 32px; width: 74px; padding: 0px 0px 0px 0px; }
table.tabsThree td.Selected { background-image: url(../images/orange/tabs3_selected.gif); background-repeat: no-repeat; height: 32px; width: 74px; padding: 0px 0px 0px 0px; }
table.tabsThree td.Spacer { background-image: url(../images/orange/tabs_spacer.gif); background-position: bottom; background-repeat: repeat-x; height: 32px; width: 9px; }
table.tabsThree td.SpacerEnd { background-image: url(../images/orange/tabs_spacer.gif); background-position: bottom; background-repeat: repeat-x; height: 32px; width: 165px; }

table.tabsTwo { border: 0px; margin: 0px 5px 10px 5px; padding: 0px 0px 0px 0px; width: 405px; }
table.tabsTwo tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsTwo td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.tabsTwo td.Normal { background-image: url(../images/orange/tabs3_normal.gif); background-repeat: no-repeat; height: 32px; width: 74px; padding: 0px 0px 0px 0px; }
table.tabsTwo td.Selected { background-image: url(../images/orange/tabs3_selected.gif); background-repeat: no-repeat; height: 32px; width: 74px; padding: 0px 0px 0px 0px; }
table.tabsTwo td.Spacer { background-image: url(../images/orange/tabs_spacer.gif); background-position: bottom; background-repeat: repeat-x; height: 32px; width: 9px; }
table.tabsTwo td.SpacerEnd { background-image: url(../images/orange/tabs_spacer.gif); background-position: bottom; background-repeat: repeat-x; height: 32px; width: 247px; }

table.costsOuter { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 405px; }
table.costsOuter tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.costsOuter td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.costsOuter td.Border { background-color: #cccccc; background-image: url(../images/orange/tablefix_ffffff_top.gif); background-position: top; background-repeat: no-repeat;  }
table.costsOuter td.Content { width: 403px; }
table.costsOuter td.Bottom { background-color: #cccccc; background-image: url(../images/orange/tablefix_ffffff_bottom.gif); background-position: bottom; background-repeat: no-repeat; height: 1px; }

table.costsInner { border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 405px; }
table.costsInner tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.costsInner tr.Top { background-color: #cccccc; height: 5px; }
table.costsInner tr.Head { background-color: #cccccc; vertical-align: top; }
table.costsInner tr.Normal { background-color: #ffffff; vertical-align: top; }
table.costsInner tr.Alt { background-color: #f9f9f9; vertical-align: top; }
table.costsInner td { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
table.costsInner td.Divider { background-color: #cccccc; }
table.costsInner td.DividerInvert { background-color: #ffffff; }
table.costsInner td.FirstRow { background-image: url(../images/orange/tablefix_cccccc_top.gif); background-position: top; background-repeat: no-repeat; }
table.costsInner td.LastRow { background-image: url(../images/orange/tablefix_cccccc_bottom.gif); background-position: bottom; background-repeat: no-repeat; }
table.costsInner th.Content { padding: 4px 4px 10px 5px; text-align: left; }
table.costsInner td.Content { padding: 6px 4px 5px 4px; text-align: left; }

table.costsSimple { background-color: #cccccc; border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 405px; }
table.costsSimple tr { background-color: #ffffff; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align: left; vertical-align: top; }
table.costsSimple tr.Alt { background-color: #f9f9f9; }
table.costsSimple th { background-color: #cccccc; padding: 5px 5px 5px 5px; text-align: left; vertical-align: top; }
table.costsSimple td { padding: 5px 5px 5px 5px; text-align: left; vertical-align: top; }
table.costsSimple tr.Alt { background-color: #f9f9f9; }

table.costsSimpleSmall { background-color: #cccccc; border: 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; width: 280px; }
table.costsSimpleSmall tr { background-color: #ffffff; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align: left; vertical-align: top; }
table.costsSimpleSmall tr.Alt { background-color: #f9f9f9; }
table.costsSimpleSmall th { background-color: #cccccc; padding: 5px 5px 5px 5px; text-align: left; vertical-align: top; }
table.costsSimpleSmall td { padding: 5px 5px 5px 5px; text-align: left; vertical-align: top; }
table.costsSimpleSmall tr.Alt { background-color: #f9f9f9; }



/* New Header and Footer Styles */
body {
	background-color: #fff;
	margin: 0px;
	padding:0px;
}

.skiplink {position:absolute; left:0px; top:-10000px; width:0px; height:0px; overflow:hidden;} 

.hidden {
	display:none;
}

img	{
 	border:0;
}


#pagespace {
	height: 100px;
}



/* ========= header styles ========= */

#logo {float:left; width:40px; padding-left:21px; padding-top:20px; padding-bottom:18px;}
#logo h1 {margin-top:0px; margin-bottom:0px;}
#home_link {font-family:arial, helvetica, sans-serif; font-size:71%; float:left; padding:49px 0 0 19px;}
#home_link img {margin-right:5px;}
#home_link a {color:#333; text-decoration:none;}
#home_link a:hover span {color:#f60; text-decoration:underline;}
* html #home_link a:hover {color:#f60; text-decoration:underline;}



/* ========= nav styles ========= */

#navigation {clear:both; padding:0 0 0 20px; height:38px; width:760px; vertical-align:top; font-family:arial, helvetica, sans-serif;}
#navigation ul {display:inline; list-style-type:none;}
#navigation li a {position:relative; overflow:hidden;}
#navigation li a em {position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; background-repeat:no-repeat;}
* html>body #navigation li a {overflow:visible; font-size:5px;}

#nav_list {width:760px; font-size:70%; height:38px; background:url('../images/orange/1px_navbar_shadow.gif') repeat-x bottom left;}
#nav_list ul {list-style:none;}
#nav_list li {float:left; margin:0;}
#nav_list li a {height:30px;}
* html>body #nav_list li a {float:left;}
#nav_list li.nav_shop a, #nav_list li.nav_shop em {width:103px; background:url('../images/orange/nav_shop.gif') no-repeat left top;}
#nav_list li.nav_news a, #nav_list li.nav_news em {width:59px; background:url('../images/orange/nav_news.gif') no-repeat left top;}
#nav_list li.nav_sport a, #nav_list li.nav_sport em {width:59px; background:url('../images/orange/nav_sport.gif') no-repeat left top;}
#nav_list li.nav_ents a, #nav_list li.nav_ents em {width:109px; background:url('../images/orange/nav_ents.gif') no-repeat left top;}
#nav_list li.nav_life a, #nav_list li.nav_life em {width:73px; background:url('../images/orange/nav_life.gif') no-repeat left top;}
#nav_list li.nav_email a, #nav_list li.nav_email em {width:139px; background:url('../images/orange/nav_email.gif') no-repeat left top;}
#nav_list li.nav_help a, #nav_list li.nav_help em {width:113px; background:url('../images/orange/nav_help.gif') no-repeat left top;}
#nav_list li.nav_account a, #nav_list li.nav_account em {width:105px; background:url('../images/orange/nav_account.gif') no-repeat left top;}
#nav_list li a {display:block;}
#nav_list li a:hover em, #nav_list li.active em {background-position:0 -30px !important; cursor:hand; c\ursor:pointer;}


/* ========= footer styles ========= */

#footercontainer {
  margin-left:20px;
  width:760px;
  background-color: #fff;
}

#footerwrapper	{
	height:25px;
  	margin: 0;
  	padding-top: 20px;
  	font-family: arial, helvetica, sans-serif;
	font-size: 71%;
	color: #fff;
	background: url('../images/orange/5px_e0e0e0.gif') repeat-x 0px 20px ;
}

* html #footerwrapper	{
	height:45px;
}

#footerwrapper img	{
	padding: 0;
	vertical-align: top;
}

ul.footer {
  white-space: nowrap;
  margin: 0;
  border: 0px none;; padding-left:1px; padding-right:0px; padding-top:10px; padding-bottom:0px
}

* html ul.footer {
  margin: 0px 0px 0px 0px;
}

ul.footer li {
  display: inline;
  text-align: center;
  color: #333;
  background: url('../images/orange/sq_marker.gif') no-repeat 0px 6px ;; list-style-type:none; padding-left:10px; padding-right:6px; padding-top:0px; padding-bottom:0px
}

ul.footer li a:link, ul.footer li a:visited, ul.footer li a:active {
  text-decoration:none;
  color: #333;

}

ul.footer li a:hover	{
	text-decoration:underline;
	color: #f60;
}

/* Styles for new layout terms */

ol.numberedterms li {
	padding-top: 10px;}