*,h1,h2,h3,p,td {font-family:sans-serif;}

a {color:#000;font-family:sans-serif;text-decoration:none;}
a:active {color:#005f92}

body {background:#fff;color:#000;margin:0;padding:0;}
div,h1,h2,hr,p,table,tr,td,dl {margin:0;padding:0;border:none;}
td {vertical-align:top;}
form {text-align:center;}

#body {margin:0;}
#header {padding-bottom:3px;}

h1.title{background:#000;padding:0;margin:0;text-align:center;}

div.promo {background:#000;padding:0;margin:0;text-align:center;}
img.promo {border:0;padding:0;margin:0;}
a.promo {color:#fff;}

img.full {width:100%;}

div.promo2 {color:#005f92;text-align:center;border:0;padding:8px 0 2px 0;margin:0;}
a.promo2 {color:#005f92;}

div.desc {background:#01729e;color:#fff;padding:3px;}
div.desc2 {padding:3px;background:#d20200;color:#fff;}
span.info{color:#fff;font-size:smaller;font-weight:normal;text-align:center;}
sup{font-size:smaller;}
img.prod_img {float:left; margin:5px 0 10px 0;}
h2.desc{text-align:center;}
p.desc{margin:0 0 5px 0;}
p.hl{margin:0 0 3px 0;color:#fff;}
p.ttt{border-bottom:1px solid #fff;color:#fff;}
p.prize{text-align:center;}
p.copyright{font-size:small;color:#ffffff;}
p.white{color:#ffffff;}
ul.small{font-size:small;color:#ffffff;}
div.card{padding:3px;color:#00a1e9;background: #000 url(../../images/promoimages/TDKPromo_card.gif) bottom right no-repeat;}

div.ctr2 {background:#00a1e9;color:#000000;margin:0;padding:1px;clear:both;float:none;vertical-align:bottom;}
p.ctr2{float:left;margin:0;padding:1px;text-align:left;vertical-align:bottom;}
a.ctr2{white-space:nowrap;color:#000000;font-weight:normal;font-size:smaller;text-decoration:underline;vertical-align:bottom;}
img.ctr2{float:left;margin:3px;vertical-align:bottom;}
span.ctr2{color:#000000;font-size:smaller;vertical-align:bottom;}
div.clear {margin:0;padding:0;clear:both;float:none;}
div.tt2{color:#000000;font-weight:bold;}

div.ctr {background:#fff;color:#00a1e9;margin:0;padding:1px;clear:both;float:none;vertical-align:bottom;}
p.ctr{/*float:left;*/margin:0;padding:1px;text-align:left;vertical-align:bottom;}
a.ctr{/*white-space:nowrap;*/color:#1679ce;font-weight:normal;font-size:smaller;text-decoration:underline;vertical-align:bottom;}
img.ctr{float:left;margin:3px;vertical-align:bottom;}
span.ctr{color:#424242;font-size:smaller;font-weight:bold;vertical-align:bottom;}
span.ctrs{color:#424242;font-size:smaller;font-weight:normal;vertical-align:bottom;}
div.clear {margin:0;padding:0;clear:both;float:none;}
div.tt{color:#d20200;font-weight:bold;}

div.link, div.results {margin:0;padding:0;}
dt.mnr {font-weight:bold;background:#fff;margin:2px 0;padding:1px;}
img.mnr {margin:0 1px 0 0;}
a.mnr, .mnr a, .mnr {color:#1679ce;}

a.page {color:#002c61;}

div.ico {padding:2px 0;}
table.ico {padding:0;width:100%;}
td.icons {text-align:center;vertical-align:top;width:50%;padding:3px;}
a.icon {white-space:nowrap;}

#footer {background:#fff;margin:0;padding:5px 0;clear:both;float:none;}
img.ftr {margin:0 1px 0 0;}
.afooterlink{text-decoration:none;color:#0033FF;}

hr.w4 {background:#01729e;border-bottom:4px solid #01729e;color:#01729e;height:1px;clear:both;float:none;}
hr.r4 {background:#d20200;border-bottom:4px solid #d20200;color:#d20200;height:1px;clear:both;float:none;}
hr.w2 {background:#ffffff;border-bottom:2px solid #ffffff;color:#ffffff;height:1px;clear:both;float:none;}
hr.o1 {background:#01729e;border-bottom:4px solid #01729e;color:#01729e;height:1px;clear:both;float:none;}

div.spe {background:#00a1e9;border-top:2px solid #ffffff;border-bottom:2px solid #ffffff;margin:3px 0;}
table.spe {background:#00a1e9;margin:11px 0;}
td.spe {padding:0 2px 0 0;}
td.spec {padding:0 2px 0 0;text-align:center;}
h4.spe {background:#970100;color:#ffffff;padding:0 0 0 3px;margin:0;}
p.spe {color:#000000;padding:0 0 0 3px;}
a.spe {color:#000000;font-size:smaller;text-decoration:underline;}
