body,h1,h2,h3,p,a,td,div{font-size:10px;}
a.tab span, a.tabhl span {font-size:11px;}
td.title a {font-size:10px;}
td.price {font-size:9px;}

td.img {width:120px;vertical-align:top;text-align:center;}
td.content {text-align:center;}
div.search{background:#252525 url(../../images/games/120_bg_search.gif) center center repeat-x;}
div.searchl{background:url(../../images/games/120_bg_search_l.gif) center left no-repeat;}
div.searchr{background:url(../../images/games/120_bg_search_r.gif) center right no-repeat;height:25px;}
td.srchtext {padding:5px 0 0 14px;}
td.srchbtn {padding:5px 6px 0 0;width:15px;}
input.srchtext {height:15px;}
td.th {width:28px;}
img.th {width:20px;}
td.gth {width:28px;}

td.star {background:url(../../images/games/stars/120.gif) left center no-repeat;}
td.blk:hover td.star {background:url(../../images/games/stars/120_hl.gif) left center no-repeat;}

td.star5 {background:url(../../images/games/stars/120_5.gif) left center no-repeat;}
td.blk:hover td.star5 {background:url(../../images/games/stars/120_5_hl.gif) left center no-repeat;}

td.starI {background:url(../../images/games/stars/120_I.gif) left center no-repeat;}
td.blk:hover td.starI {background:url(../../images/games/stars/120_I_hl.gif) left center no-repeat;}

td.starI5 {background:url(../../images/games/stars/120_I5.gif) left center no-repeat;}
td.blk:hover td.starI5 {background:url(../../images/games/stars/120_I5_hl.gif) left center no-repeat;}

td.starII {background:url(../../images/games/stars/120_II.gif) left center no-repeat;}
td.blk:hover td.starII {background:url(../../images/games/stars/120_II_hl.gif) left center no-repeat;}

td.starII5 {background:url(../../images/games/stars/120_II5.gif) left center no-repeat;}
td.blk:hover td.starII5 {background:url(../../images/games/stars/120_II5_hl.gif) left center no-repeat;}

td.starIII {background:url(../../images/games/stars/120_III.gif) left center no-repeat;}
td.blk:hover td.starIII {background:url(../../images/games/stars/120_III_hl.gif) left center no-repeat;}

td.starIII5 {background:url(../../images/games/stars/120_III5.gif) left center no-repeat;}
td.blk:hover td.starIII5 {background:url(../../images/games/stars/120_III5_hl.gif) left center no-repeat;}

td.starIIII {background:url(../../images/games/stars/120_IIII.gif) left center no-repeat;}
td.blk:hover td.starIIII {background:url(../../images/games/stars/120_IIII_hl.gif) left center no-repeat;}

td.starIIII5 {background:url(../../images/games/stars/120_IIII5.gif) left center no-repeat;}
td.blk:hover td.starIIII5 {background:url(../../images/games/stars/120_IIII5_hl.gif) left center no-repeat;}

td.starIIIII {background:url(../../images/games/stars/120_IIIII.gif) left center no-repeat;}
td.blk:hover td.starIIIII {background:url(../../images/games/stars/120_IIIII_hl.gif) left center no-repeat;}
