h1,h2 {font-size:11px !important;}
h3,h4,h5,p,dt {font-size:10px !important;}
td {font-size:10px !important;}
.page {font-size:9px !important;}
#breadcrumb dt {font-size:9px !important;}

input.text {font-size:9px !important;}
input.srch {font-size:9px !important;}
input.btn {font-size:9px !important;}

img.prvw {width:100% !important;}
img.sshot {width:100% !important;}

dt.mnr_page_next {float:right;}
#breadcrumb dt {float:left; white-space:nowrap;}
