h1,h2,h3 {font-size:20px !important;}
h4,h5,p,dt {font-size:20px !important;}
td {font-size:small !important;}
.page, .page dt, #breadcrumb dt {font-size:small !important;}

input.text {font-size:small !important;}
input.srch {font-size:small !important;}
input.btn {font-size:small !important;}

img.prvw {width:240px !important;}
img.sshot {width:240px !important;}

dt.mnr_page_next {float:right;}
#breadcrumb dt {float:left;}
