#navigation #flash_nav { margin:0 !important; padding:0 !important; position:fixed !important; }
#navigation #flash_nav.clear { margin:0 !important; padding:0 !important; position:absolute !important; }
#navigation #cm_nav { margin:60px 0 0 0 !important; padding:4px 13px !important; }
