/* Created by Lis Vesurai */
body {background:#ffffff;color:#333333;margin:0;padding:0 3px;}
img{margin:0;padding:0;border:none;}
div.logo {margin:0 0 5px 0;padding:0;}
div.h1{margin:0;padding:0 0 5px 0;color:#660099;font-family:sans-serif;font-weight:bold;font-size:.90em;}
div.p{margin:0;padding:0 0 5px 0;color:#333333;font-family:sans-serif;font-weight:normal;font-size:.90em;}
